

<app-modal-confirm 
[showModal]="launchIt" 
[title]="'From The caller'" 
[modalType]="'primary'" 
[cancelButtonLabel]="'Dismiss'"
[modalContent]="newModalContent"
>
</app-modal-confirm>
<button type="button" (click)="testLaunch()">Toggle Modal</button>

<!-- <button type="button" (click)="openModal()">Open Modal</button>
<button type="button" (click)="closeModal()">Close Modal</button>

<div #myModal class="modal " [ngClass]= "{'show':launchIt,'hide': !launchIt } " role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header">
        <h5 class="modal-title ">Title</h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="container-fluid">
<div class="row">
<div class="col-lg-8">
<table class="table ">
  <thead>
    <tr class="row">
      <th scope="col" class="col-lg-1">#</th>
      <th scope="col" *ngFor="let colHdr of projStatuses" class="col-lg-1">{{colHdr}}</th>
      <th>
        <p-chart type="line" [data]="data" width="120px" height="50px" [options]="options" ></p-chart>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of statusGrid ; let rowidx=index" class="row">
      <th scope="row" class="col-lg-1">{{row.status}}</th>
      <td *ngFor="let col of row.nextStatuses; let colidx=index" class="col-lg-1">
            <div class="custom-control custom-checkbox text-lg-center">
              <input type="checkbox" class="custom-control-input" id="inp_{{rowidx}}{{colidx}}" 
               [(ngModel)]="statusGrid[rowidx].nextStatuses[colidx].allowed">
              <label class="custom-control-label" for="inp_{{rowidx}}{{colidx}}"></label>
            </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div> -->
<!-- <div *ngFor="let row of statusGrid">
  <hr>
  {{row |json}} 
</div> -->




<!-- <p>debug works!</p>
<!doctype html>

<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
  Single toggle
</button>

<title>Upload new File</title>
<h1>Upload new File</h1>
<img src="http://localhost:9001/api/v1/image-management/get-image/4?val=3" alt="MyImage" sizes="" srcset=""
style="width:40px;height:40px;border-radius: 50%;"
>
<form action=''  enctype="multipart/form-data">
  <input type="file" accept='image/*' name="file" (change)="onFileChanged($event) ">

</form>

<br>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-outline-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> My Tickets
  </label>
  <label class="btn btn-outline-secondary" style="margin: 0 0 0 10px;">
    <input type="radio" name="options" id="option2" autocomplete="off"> Created By Me
  </label>
  <label class="btn btn-outline-secondary" style="margin: 0 0 0 10px;">
    <input type="radio" name="options" id="option3" autocomplete="off"> Modified By Me
  </label>
</div> -->