.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

.horizontal-scrollable > .row { 
  overflow-x: auto; 
  white-space: nowrap; 
  
} 

.horizontal-scrollable  > .row >.col > .row > .col { 
  display: inline-block; 
  float: none; 
} 

.rp-header{
  /* font-family: 'Courier New', Courier, monospace; */
}
.rp-row{
  font-family: 'Courier New', Courier, monospace;
}


.task-details-popup-container {
  display: flex;
  flex-wrap:wrap;
  cursor: pointer;
}
.task-details-popup-container .task-details-popup{
  overflow-x: auto;
  max-width: 10rem;
  max-height: auto;
  min-width: 10rem;
  min-height: 5rem;
  font-size:0.875rem;
  font-weight:400;
  box-shadow: 0 0.5rem 0.875rem 0 rgba(86, 95, 102, 0.07);
  background-color: yellow;
  padding: 1rem;
  border-radius: 0.313rem;
  position: absolute;
  z-index: 200;
  margin-top:1rem;
  box-sizing: border-box;
}
/* .task-details-popup-container .task-details-popup::before{
  background-color: #666666;
  opacity: 0.6;
  left:0; top:0;
  position:fixed;
  min-height:100vh !important; 
  width:100%; 
  z-index: -2;
} */
.task-details-popup-container .task-details-popup:after{
  /* display: inline-block;
  content:"";
  border: 0.625rem solid transparent;
  border-bottom: 0.625rem solid #888;
  position: absolute;
  top:-15%;
  left: 50%;
  margin-left: -5px;
  z-index:200; */
  border: 0.625rem solid transparent;
  border-bottom: 0.625rem solid yellow;;
  content: '';
  /* right: 8.3rem; */
  right:80%;
  position: absolute;
  top: -1.25rem;
} 

.container{
  width: 200px;
  height: 200px;
  position: relative;
  margin: 20px;
}

.box{
  width: 100%;
  height: 100%;            
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;  /* for demo purpose  */
}

.stack-top{
  z-index: 9;
  /* margin: 20px; for demo purpose  */
}