.show{
    display: block;
}
.hide{
    display: none;
}

#div1, #div2 {
    float: left;
    width: 6.875rem;
    height: 3.938rem;
    margin: 0.625rem;
    padding: 0.625rem;
    border: 0.063rem solid black;
}

option {
    color:red;  
}

cSuggestions{
    z-index: 20000;
    background-color: beige;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    width: auto;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
.dropdown-content p {
    color: black;
    padding: 0 1rem;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
.dropdown-content p:hover {
    background-color: #4285f4;
    color:white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.cal-card{
  height:5.375rem;
}
.cal-header{
  height: 1.50rem; 
  padding-top:1px;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  
  border-bottom: 8px solid white;
}

.card-columns {
    column-count: 6;
}