<ngx-spinner
  [fullScreen]="true"
  type="ball-newton-cradle"
  size="medium"
></ngx-spinner>
<p-toast [style]="{marginTop: '10px'}" position="top-right"></p-toast>
<form [formGroup]="viewModifyTicketFB" (ngSubmit)="updateTicket()" *ngIf="isLoaded">
  <div class="form-group">
    <div class="row" *ngIf="viewEditFormEditBtnEnabled">
      <div class="col-md-2 col-sm-2 col-lg-2">
        <div>
        
        <button
          type="button"
          label="Modify Ticket"
          class="btn btn-outline-warning"
          (click)="markFormEditable()"
        ><fa-icon [icon]="faEdit" style="padding-right: 3px; color:darkorange;" ></fa-icon>Modify Ticket</button>
      </div>
      </div>
      <div class="col-md-2 col-sm-2 col-lg-2">
        <button
          type="button"
          label="Clone Ticket"
          class="btn btn-outline-purple-secondary"
          (click)="cloneTicket()"
        ><fa-icon [icon]="faClone" style="color: blueviolet;"></fa-icon>&nbsp; Clone Ticket</button>
      </div>

    </div>
    <br />
    <div class="card">
      <div class="card-header" style="width: auto;">
        <h4>{{ ticket_no }}</h4>
      </div>
    </div>
<br>
    <div class="row">
      <div class="col">
        <label
          for="formGroupExampleInput"
          class="col-form-label-md"
          >Summary</label
        >
        <input
          formControlName="fctlSummary"
          type="text"
          placeholder=""
          id="summary"
          class="form-control-plain"
          required
        />
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label
          for="formGroupExampleInput"
          class="col-form-label-md"
          >Description</label
        >
        <quill-editor
          formControlName="fctlDescription"
          [styles]="editorStyle"
          [modules]="config"
        >
        </quill-editor>
      </div>
    </div>
  </div>

  <br />
  <app-issue-details [parentForm]="viewModifyTicketFB"></app-issue-details>

  <!-- New COmments Component Start-->
  <br />
  <app-ticket-comments [parentForm]="viewModifyTicketFB"></app-ticket-comments>
  <!-- New COmments Component End-->

  <app-ticket-audit [parentForm]="viewModifyTicketFB"></app-ticket-audit>

  <div class="panel">
    <!-- <div class="card-header">Audit</div> -->
    <div class="card-body">
      <div class="form-group">
        <div class="row container-fluid">
          <div class="align-self-end ml-auto">
            <input
              type="button"
              value="Cancel"
              id="summary"
              class="btn btn-secondary"
              (click)="cancelViewEditForm()"
            />
          </div>
          <div class="align-self-center mx-auto">
            <input
              type="submit"
              [disabled]="
                !viewModifyTicketFB.valid || !viewModifyTicketFB.dirty
              "
              value="Update"
              id="update"
              class="btn btn-primary"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

<p-dialog header="Unsaved Data Alert" [(visible)]="displayPageDirtyDialog" [style]="{width: '50vw'}" [baseZIndex]="10000">
    There are unsaved Items on this page. Do you want to leave without saving ?
<p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="showDirtyPageDialog(true)" label="Yes"></button>
    <button type="button" pButton icon="pi pi-times" (click)="showDirtyPageDialog(false)" label="No" class="ui-button-secondary"></button>
</p-footer>
</p-dialog>
</form>
