<ngx-spinner
  [fullScreen]="true"
  type="ball-newton-cradle"
  size="medium"
></ngx-spinner>
<p-toast [style]="{marginTop: '10px'}" position="top-right"></p-toast>
<form [formGroup]="viewModifyTicketFB" (ngSubmit)="updateTicket()" *ngIf="isLoaded">
  <div class="form-group">
    <div class="row" *ngIf="viewEditFormEditBtnEnabled">
      <div class="col-md-3 col-sm-6 col-lg-3 ">
        <button
          type="button"
          label="Modify Task"
          class="btn btn-warning"
          (click)="markFormEditable()"
          style="margin-right: 10px; color:white;"
        >
          <fa-icon
            [icon]="faEdit"
            style="padding-right: 3px; color: white;"
          ></fa-icon
          >Modify Task
        </button>

        <button
          type="button"
          label="Clone Task"
          class="btn btn-purple"
          (click)="cloneTicket()"
        >
          <fa-icon [icon]="faClone" style="color: white;"></fa-icon>&nbsp;
          Clone Task
        </button>
      </div>

    </div>
    <br />
    <div class="card">
      <div class="card-header" style="width: auto;">
        <h4>{{ ticket_no }}</h4>
      </div>
    </div>
<br>
    <div class="row">
      <div class="col">
        <label
          for="formGroupExampleInput"
          class="col-form-label-md"
          >Summary</label
        >
        <input
          formControlName="fctlSummary"
          type="text"
          placeholder=""
          id="summary"
          class="form-control-plain"
          required
        />
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label
          for="formGroupExampleInput"
          class="col-form-label-md"
          >Description</label
        >
        <quill-editor
          formControlName="fctlDescription"
          [styles]="editorStyle"
          [modules]="config"
        >
        </quill-editor>
      </div>
    </div>
  </div>

  <div >
    <p-selectButton [options]="tabs" formControlName="fctlTabOptions" (onChange)="tabSelected($event)"></p-selectButton>
  </div>

  <app-issue-details [parentForm]="viewModifyTicketFB" *ngIf="showTicketDetails"></app-issue-details>

  <!-- New COmments Component Start-->
  <app-ticket-comments [parentForm]="viewModifyTicketFB" *ngIf="showTicketComments"></app-ticket-comments>

  <!-- New COmments Component End-->

  <app-ticket-audit [parentForm]="viewModifyTicketFB" *ngIf="showAudit"></app-ticket-audit>

  <div class="panel">
    <!-- <div class="card-header">Audit</div> -->
    <div class="card-body">
      <div class="form-group">
        <div class="row container-fluid">
          <div class="align-self-end ml-auto">
            <input
              type="button"
              value="Cancel"
              id="summary"
              class="btn btn-secondary"
              (click)="cancelViewEditForm()"
            />
          </div>
          <div class="align-self-center mx-auto">
            <input
              type="submit"
              [disabled]="
                !viewModifyTicketFB.valid || !viewModifyTicketFB.dirty
              "
              value="Update"
              id="update"
              class="btn btn-primary"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

<p-dialog header="Unsaved Data Alert" [(visible)]="displayPageDirtyDialog" [style]="{width: '50vw'}" [baseZIndex]="10000">
    There are unsaved Items on this page. Do you want to leave without saving ?
<p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="showDirtyPageDialog(true)" label="Yes"></button>
    <button type="button" pButton icon="pi pi-times" (click)="showDirtyPageDialog(false)" label="No" class="ui-button-secondary"></button>
</p-footer>
</p-dialog>
</form>
