<div class="row">
    <div class="col-lg-2">
      <h3>Task List</h3>
    </div>
    <div class="col-lg-10">
      <a [routerLink]="['/tasks/create-task']" href="#" class="btn btn-success float-right">Create Task</a>
    </div>
</div>

<ngx-spinner [fullScreen]="true" type="ball-newton-cradle"></ngx-spinner>

<p-table #dt *ngIf="showTable" [value]="allTasks" [columns]="taskDetailsCols" [rowHover]="true" [responsive]="true"
    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[2,5,10,25,50]" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="1" 
    [(contextMenuSelection)]="ctxSelectedRow" [contextMenu]="taskCtxMenu"
    [resizableColumns]="true" columnResizeMode="expand"
    [globalFilterFields]="['task_no','summary','reported_by','issue_status','priority','environment','severity','issue_type']">

    <ng-template pTemplate="caption">
            <div style="text-align: right">                
                <button class="float-left" type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()"
                style="margin-right: 0.5em;"></button>
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter"
                    (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
    </ng-template>
    
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 2.5em;">#</th>
            <th *ngFor="let col of taskDetailsCols" [pSortableColumn]="col.field"
             [ngStyle]="{'width': col.width}">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task let-columns="taskDetailsCols" let-i="rowIndex">
        <tr [pContextMenuRow]="task">
            <td>{{i+1}}</td>
            <td><a [routerLink]="['/tasks/view-edit-task', task.task_no]">{{task.task_no}}</a></td>
            <td >{{task.summary}}</td>
            <td>{{task.issue_status}}</td>
            <td>{{task.issue_type}}</td>
            <td>{{task.severity}}</td>
            <td>{{task.priority}}</td>
            <!-- <td>{{task.environment}}</td> -->
            <!-- <td>{{task.estimated_time}}</td> -->
            <td>{{task.reported_by}}</td>
            <!-- <td><input class=" text-wrap" size="10" type="text" name="" id="" value="{{task.reported_by}}"></td> -->
            <td>{{task.reported_date  | date : 'dd MMM yyyy HH:MM'}}</td>
            <td>{{task.assigned_to}}</td>

        </tr>
    </ng-template>
</p-table>

<p-contextMenu #taskCtxMenu [model]="ctxItems"></p-contextMenu>