.outage-header{
    height:2rem;
    color: #fff;
    font-weight: 300;
    font-size: 1.25rem;
    border-radius: 0rem;
}
/* div {
    background-image: 
      repeating-linear-gradient(
        #fd44b980 0 1px,
        transparent 1px 100%
      );
      background-size: 100px 100px;
} */
.border-all{
    border: 1px solid #444;
    border-radius: 0rem;
}
.border-btm-lft-rght{
    border-bottom: 0.0625rem solid #444;
    border-left: 0.0625rem solid #444;
    border-right: 0.0625rem solid #444;
}