.active-user{
    padding: 0.313rem 0.625rem 0.313rem 0.625rem; 
    background-color: #DCEDC8;
    font-size: 0.875rem;
    font-weight: 500;
    color:green;
    border-radius: 0.25rem;
}
.inactive-user:hover{
    cursor: pointer;
    color: #DCEDC8;
    background-color:green;
}
.inactive-user{
    padding: 0.313rem 0.625rem 0.313rem 0.625rem; 
    background-color: #FBE9E7;
    font-size: 0.875rem;
    font-weight: 500;
    color:#BF360C;
    border-radius: 0.25rem;
}
.active-user:hover{
    cursor: pointer;
    background-color:#BF360C;
    color: #FBE9E7;
}
.edit-icon{
    background-image: url("/assets/images/svgs/password-05.svg");
    padding: 0.313rem 2.188rem 0.313rem 0.313rem;
    color: lightsalmon;
    font-size: 1.25rem;
}

.edit-icon:hover{
    cursor: pointer;
}

.role-icon{
    padding: 0rem 0.125rem 0.438rem 0.938rem;
    color: #536DFE;
    font-size: 1.25rem;
}

.role-icon:hover{
    cursor: pointer;
}
