<h4>Users</h4>
<div class="row" style="margin-right: 5px;">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <p-table #ut [columns]="cols" [value]="users" [paginator]="true" [rows]="15" [showCurrentPageReport]="true"
      sortMode="multiple" [responsive]="true">

      <ng-template pTemplate="caption">
        <button class="float-left" type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="ut.exportCSV()"
            style="margin-right: 0.5em;"></button>
        <div style="text-align: right;">
          <i class="pi pi-search" style="margin: 4px 4px 0 0;"></i>
          <input type="text" class="ui-inputtext ui-corner-all" pInputText size="50" placeholder="Global Filter"
            (input)="ut.filterGlobal($event.target.value, 'contains')" style="width: auto;" />
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th [ngStyle]="{'width': '2%'}">#</th>
          <th *ngFor="let col of cols" [pSortableColumn]="col.field"
          [ngStyle]="{'width': col.width}">
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th [ngStyle]="{'width': '12%'}">Action</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-user let-columns="cols" let-i="rowIndex">
        <tr>
          <td>{{i+1}}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <h6 *ngIf="user.is_active == 'Y'" style="margin: 2px 0 0 0;">
              <span class="label active-user" (click)="toggleUserActiveStatus(user)">Active</span>
            </h6>
            <h6 *ngIf="user.is_active == 'N'" style="margin: 2px 0 0 0;">
              <span class="label inactive-user"
              (click)=toggleUserActiveStatus(user)>In Active</span>
            </h6>
          </td>
          <td>{{ user.password_change_date | date : 'dd MMM yyyy HH:mm'}}</td>
          <td >
            <span class="edit-icon"
            data-toggle="modal" data-target="#id_editUser" 
            (click)="openChangePasswordModal(user)" 
            > 
              <!-- <fa-icon [icon]="faCogs"  
  
            ></fa-icon> -->
          </span>
            <span class="role-icon"> 
              <fa-icon [icon]="faRegistered"  
              data-toggle="modal" data-target="#id_editUser" 
              (click)="openChangePasswordModal(user)"   
              ></fa-icon>
          </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>


<div class="modal fade" id="id_editUser" tabindex="-1" role="dialog" aria-labelledby="editUser" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reset Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-lg-10 offset-lg-1">
            <label>{{userEmailForPwdChange}}</label>
            <input type="password" [(ngModel)]="newPassword" class="form-control" id="inputEmail3" placeholder="New Password">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-10 offset-lg-1">
          </div>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="changePassword()">Save Password</button>
      </div>
    </div>
  </div>
</div>