.active-user{
    padding: 5px 10px 5px 10px; 
    background-color: #DCEDC8;
    font-size: 14px;
    font-weight: 500;
    color:green;
}
.active-user:hover{
    cursor: pointer;
}
.inactive-user{
    padding: 5px 10px 5px 10px; 
    background-color: #FBE9E7;
    font-size: 14px;
    font-weight: 500;
    color:#BF360C;
}
.inactive-user:hover{
    cursor: pointer;
}
.edit-icon{
    background-image: url("/assets/images/svgs/password-05.svg");
    padding: 5px 35px 5px 5px;
    color: lightsalmon;
    font-size: 20px;
}

.edit-icon:hover{
    cursor: pointer;
}

.role-icon{
    padding: 0px 2px 7px 15px;
    color: #536DFE;
    font-size: 20px;
}

.role-icon:hover{
    cursor: pointer;
}
