
.jhp-icon-task{
    font-size: 0.875rem;
    display: inline-block;
    margin-right: 0.5rem;
    color:#bbbbbb;
}
.jhp-icon-ticket{
    font-size: 0.875rem;
    display: inline-block;
    margin-right: 0.5rem;
    color:#bbbbbb;
}
.jhp-activity-date{
    font-size: 0.75rem;
    color: #bbbbbb;
    text-align:right;
}

.jhp-item-details{
    font-size:1rem;
    font-weight: 300;
    color:#628cB5;
}

.jhp-item-details:hover{
    cursor: pointer;
}
.jhp-item-changer-text{
    color: #bbbbbb;
    font-size:0.813rem;
    padding-right:0.5rem;
}
.jhp-item-changer-username{
    color: #777777;
    font-size:1rem;
    text-decoration: underline;
}
.jhp-item-summary{
    cursor: pointer;
    color:#628cB5;
    font-weight: 300;
}
.a-item:hover{
    background-color: #E3F2FD;
    text-decoration-line: unset;
}
hr{
    margin-top:0.125rem;
    margin-bottom:0.125rem;
}
.welcomepage__projname{
    color:#628cB5;
}
