*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

**sonar**
**scanner**
**/uploaded_files
**/*adhoc*
**/locust*
**/.idea
**/.ionic
**/.sass-cache
**/.sourcemaps
**/.versions
**/.vscode
**/coverage
**/dist
**/node_modules
**/platforms
**/plugins
**/www
**/.vscode
**/__pycache__
**/logs
**/ev_jirigo
**/e2e
**/.editorconfig
**/.gitkeep

# compiled output
**/dist
**/tmp
**/out-tsc
# Only exists if Bazel was run
/bazel-out


# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
./.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db


#
**/jirigo_engine/services/dbservice/email_service.py
**/jirigo_web/src/app/services/error_messages/
**/jirigo_web/src/assets/data/error_messages.json
**/docker
**/jirigo_engine/loadtesting
**/jirigo_engine/wsgi.py






