/* You can add global styles to this file, and also import other style files */
.required-field::before {
    content: " *";
    color: red;
  }
.overon{
  z-index: 1;
}
.card-header{
  cursor: pointer; 
}
.btn-orig {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-purple {
  background-color: #8D47E0;
  color:white;
  border-color: #6c757d;
}

.btn-outline-purple-secondary {
  color: #8D47E0;
  border-color: #8D47E0;
  background-attachment: white;

}
/* #6632FB #CC99CC #8B8CE8 #8E8EEB */
.btn-electricpurple {
  background-color: #bf00ff;
  color:white;
  border-color: #bf00ff;
}

.btn-blandviolet {
  background-color: #6632FB;
  color:white;
  border-color: #6632FB;
}


.btn-outline-lightmagenta-secondary {
  color: #CD98CA;
  border-color: #CD98CA;
  background-attachment: white;
}

.form-control-plain {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control-plain:disabled{
  background-color: white;
  opacity: 1;
}

.jcOneRowColumnBox{
  background-color:aliceblue; 
  margin-bottom: 50px; 
  border-radius: 10px; 
  border-color:dodgerblue; 
  border-style: solid; 
  border-width: 1px;
}
.jcOneRowColumnBoxheader{
  color:dimgray ;
  /* background-color: #BDE4FF;  */
  background-color: #BDE4FF; 
  padding:2px 0 0 4px;
  vertical-align:middle; 
  border-radius: 5px;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

.main {
   min-height: 100%;
   padding-bottom: 55px;
}

:host {
  display: flex;
  min-height: 100%; 
  flex-direction: column;
}


select:disabled{
  color:#A7A7A7
}

.jSelectButtonContainer .ui-buttonset:not(.ui-splitbutton) .ui-button {
  /* border-top-left-radius: .3em;
  border-top-right-radius: .3em;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em; */
  border-left: solid #cccccc .07em;
  border-right: solid #cccccc .07em;
  background: white;
}

.jSelectButtonContainer .ui-buttonset:not(.ui-splitbutton)  .ui-state-active {
  background-color: #007BFC !important;
}