/* You can add global styles to this file, and also import other style files */
.required-field::before {
    content: " *";
    color: red;
  }
.overon{
  z-index: 1;
}
.card-header{
  cursor: pointer; 
}