<!-- <h4 style="margin-bottom: 20px;">Create Sprint</h4> -->

<p-pickList
  [source]="sourceTasks"
  [target]="targetTasks"
  sourceHeader="Available"
  targetHeader="Selected"
  [responsive]="true"
  filterBy="brand"
  dragdrop="true"
  sourceFilterPlaceholder="Search"
  targetFilterPlaceholder="Search"
  [sourceStyle]="{ height: '480px','background-color':'#f4f4f4' }"
  [targetStyle]="{ height: '480px','background-color':'#f4f4f4' }"
  dragdrop="true"

>
  <ng-template let-task pTemplate="item" >
    <!-- background-color: #DEF3FD -->
    <div class="ui-helper-clearfix menu-item-assigned"  >
          <button type="button" class="btn btn-secondary btn-sm">{{task.task_no}}</button>
          <span class="badge badge-info float-right task-badge " style="background-color: #00a4ef;" >Severity : {{task.severity}}</span>
          <span class="badge badge-info float-right task-badge "  style="background-color: #00a4ef;" >Priority : {{task.priority}}</span>
          <span class="badge badge-info float-right task-badge "  style="background-color: #00a4ef;" >Status : {{task.issue_status}}</span>
      <div
        style="
          font-size: 14px;
          float: left;
          margin:15px 0 0 10px;
        "
      >
      <strong >Summary  : </strong>{{ task.summary }} <br>
      </div>
    </div>
  </ng-template>
</p-pickList>

<div class="row  mt-4" >
  <div class="col-lg-12 col-md-12 col-sm-12 text-center">
    <button type="submit" (click)="showSprintNameDialog();" class="btn btn-primary">Create Sprint</button>
    <a [routerLink]="['/sprints/list-sprints']" class="btn btn-secondary mr-2" style="margin:0 0 0 20px; padding: 6px 40px 6px 40px;">Cancel</a>
  </div>
</div>

<p-dialog [(visible)]="displayConfirmSprintNameModal" [modal]="true" [style]="{width: '28vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" onHide="sprintNameModalOnHide()">
     <p-header>
        Create Sprint
     </p-header>
     <div style="height:50px; margin: 20px 0 0 0 ;">
     <span class="ui-float-label">
        <input id="float-input" type=text pInputText [(ngModel)]="sprintName" size="50" maxlength="50" (keyup)="countInputTextChars()"/>
        <label for="float-input" >Enter Sprint Name, <span style="font-weight: 600;font-size: 13px; color:darkviolet; background-color: bisque;">{{sprintNameCharsRemaining}}</span> Chars remaining</label>
     </span>
     <span *ngIf="showNoSprintNameEnteredDiag" style="color: red; font-size:13px;">Please Enter Sprint Name</span>
    </div>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="createSprint()" label="Create" class="ui-button-primary"></button>
            <button type="button" pButton icon="pi pi-times" (click)="cancelSprintName()" label="Cancel" class="ui-button-warning"></button>
        </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayDialogForNoTasksSelected" [modal]="true" [style]="{width: '28vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" onHide="sprintNameModalOnHide()">
     <p-header>
        No Tasks Selected
     </p-header>
     Please select some tasks to create Sprint.
        <p-footer>
            <button type="button" pButton icon="pi pi-times" (click)="closeNoTasksSelectedDialog()" label="Close" class="ui-button-warning"></button>
        </p-footer>
</p-dialog>