.task-badge{
    margin:0 0.625rem 0 0;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.375rem 0.5rem 0.375rem 0.5rem; 
    border-radius: 1.25rem;
    background-color: #E3F2FD;
    color: black;
}

.menu-item-assigned{
    font-size: 0.938rem; 
    padding: 0.625rem 0.625rem 0.625rem 0.625rem ;
    background-color: white ;
    font-weight:500 ;
    border-radius: 0.188rem;
    color:#555555;
}

.menu-item-unassigned{
    font-size: 0.938rem; 
    padding: 0.625rem 0.625rem 0.625rem 0.625rem ;
    background-color: white ;
    font-weight:500 ;
    border-radius: 0.188rem;
    color:#555555;
}

.jsprint-summary{
    font-size:0.813rem;
    font-weight: 400;
    float: left;
    margin:0.938rem 0 0 0.625rem;
    color:#555555;
}
