<h3>Create Ticket</h3>

<form [formGroup]="createTicketFB" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label
          for="formGroupExampleInput"
          class="col-form-label col-form-label-sm"
          >Summary<span class="required-field"></span
        ></label>
        <input
          formControlName="fctlSummary"
          type="text"
          placeholder=""
          id="summary"
          class="form-control required j-current-input"
          required
        />
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label
          for="formGroupExampleInput"
          class="col-form-label col-form-label-sm"
          >Description<span class="required-field"></span
        ></label>
        <quill-editor
          formControlName="fctlDescription"
          [styles]="editorStyle"
          [modules]="config"
        >
        </quill-editor>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="formGroupExampleInput" class="col-form-label col-form-label-sm">Details<span
          class="required-field"></span></label>
    </div>
  </div>

  <app-issue-details [parentForm]="createTicketFB"></app-issue-details>
  <br />


  <div class="row " style="margin-top:2.5rem;">
    <div class="col offset-lg-5">
        <button type="button"  (click)="cancelForm()" class="btn btn-light mr-4">Cancel</button>
        <button type="submit" 
        [disabled]="!createTicketFB.valid || !createTicketFB.dirty" 
        class="btn btn-primary">Submit</button>
      </div>
  </div>

</form>

<app-modal-confirm
  [title]="modalAlertConfig.title"
  [modalType]="modalAlertConfig.modalType" 
  [showModal]="modalAlertConfig.showModal" 
  [modalContent]="modalAlertConfig.modalContent"
  [cancelButtonLabel]="modalAlertConfig.cancelButtonLabel"
  [confirmButtonLabel]="modalAlertConfig.confirmButtonLabel"
  (dialogCanceled)="modalAlertAction(modalAlertConfig.dialogCanceled)"
  (dialogConfirmed)="modalAlertAction(modalAlertConfig.dialogConfirmed)"
  (dialogClosed)="modalAlertAction(modalAlertConfig.dialogClosed)"
>
</app-modal-confirm>