<h4>Sprints</h4>
<ngx-spinner [fullScreen]="true" type="ball-newton-cradle"></ngx-spinner>

<p-table #dt *ngIf="showTable" [value]="allSprints" [columns]="sprint_header_cols" [rowHover]="true" [responsive]="true"
  [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[2,5,10,25,50]" [responsive]="true"
  [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="1"
  >

  <ng-template pTemplate="caption">
    <!-- <button class="float-left" type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV"
      (click)="dt.exportCSV()" style="margin-right: 0.5em;"></button> -->
    <div style="text-align: right">
      <i class="pi pi-search" style="margin:0.25rem 0.25rem 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Global Filter"
        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 2.5em;">#</th>
      <th *ngFor="let col of columns" [pSortableColumn]="col">
        {{col}}
        <p-sortIcon [field]="col"></p-sortIcon>
      </th>
      <th ></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-sprint let-columns="sprint_header_cols" let-i="rowIndex">
    <tr class="ui-selectable-row">
      <td>{{i+1}}</td>
      <td>
        <fa-icon [icon]="faEdit" style="color:orange;cursor:pointer;" class="p-2" size="lg" (click)="editSprint(sprint)" pull="left"
        >
        </fa-icon>
        {{sprint.sprint_name}}
      </td>
      <td>{{sprint.proj_name}}</td>
      <td>{{sprint.status}}</td>
      <td>{{sprint.start_date |  date:'dd-MMM-yyyy'}}
      </td>
      <td>{{sprint.end_date  |  date:'dd-MMM-yyyy'}}</td>
      <td>
        <button (click)="sprintDetails(sprint)" type="button" class="btn btn-light btn-list-sprints" label="Details"
          ><fa-icon [icon]="faListUl"></fa-icon></button>
        <button (click)="showSprintBoard(sprint)" type="button" class="btn btn-light btn-scrumboard" label="Edit"
          ><fa-icon [icon]="faTh"></fa-icon></button>
        <button (click)="showSprintTasksDashBoard(sprint)" type="button" class="btn btn-light btn-scrumboard" label="Edit"
          ><fa-icon [icon]="faChartLine"></fa-icon></button>
          <button (click)="showSprintGanttChart(sprint)" type="button" class="btn btn-light btn-scrumboard" label="Edit"
          ><fa-icon [icon]="faStream"></fa-icon></button>
      </td>
    </tr>
  </ng-template>
</p-table>


<!-- <button type="button" (click)="showModalDialog()" pButton icon="pi pi-external-link" label="Show"></button> -->
<p-dialog header="Edit Sprint" [(visible)]="showEditSprintDialog" [modal]="true" [style]="{width: '25vw'}"
  [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <form [formGroup]="modifySprintFB" (ngSubmit)="modifySprint()">
    <div class="form-group">
      <div class="row">
        <div class="col">
          <label for="formGroupExampleInput" class="col-form-label col-form-label-sm">Sprint Name<span
              class="required-field"></span></label>
          <input formControlName="fctlSprintName" type="text" placeholder="" id="summary" class="form-control required"
            required />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="formGroupExampleInput" class="col-form-label col-form-label-sm">Status<span
              class="required-field"></span></label>
          <select class="form-control-plain" id="exampleFormControlSelect1" formControlName="fctlSprintStatus">
            <option value="" value="" disabled>Choose..</option>
            <option *ngFor="let sprintStatus of refSprintStatus" [ngValue]="sprintStatus.name">{{ sprintStatus.name }}
            </option>
          </select>
          <!-- <p-dropdown [options]="refSprintStatus" formControlName="fctlStatus" placeholder="Select.." optionLabel="name" [showClear]="true"></p-dropdown> -->
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="formGroupExampleInput" class="col-form-label col-form-label-sm">Start Date<span
              class="required-field"></span></label>
          <!-- <ngb-datepicker #d></ngb-datepicker> -->
          <input formControlName="fctlStartDate" placeholder="" id="startDate" class="form-control required"
            style="z-index: 1;" required type="text" ngbDatepicker #ds="ngbDatepicker" (click)="ds.toggle()"
            (click)="clearErrors('startDate')" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="formGroupExampleInput" class="col-form-label col-form-label-sm">End Date<span
              class="required-field"></span></label>
          <input formControlName="fctlEndDate" id="endDate" class="form-control required datePicker" required
            type="text" ngbDatepicker #de="ngbDatepicker" (click)="de.toggle()" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="formGroupExampleInput" class="col-form-label col-form-label-sm">Number of Developers Working on the sprint<span
              class="required-field"></span></label>
          <input formControlName="fctlNumDevs" type="number" placeholder="" id="id_sprint_numdevs" class="form-control required"
            required />
        </div>
      </div>
    </div>
  </form>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="confirmSprintEdit()" label="Save"></button>
    <button type="button" pButton icon="pi pi-times" (click)="showEditSprintDialog=false" label="Cancel"
      class="ui-button-secondary"></button>
  </p-footer>
  <span *ngIf="errors.showErrorMessage" style="color:red"> {{errors.errorMessage}}</span>
</p-dialog>