<ngx-spinner [fullScreen]="true" type="ball-newton-cradle"></ngx-spinner>

<p-table
  #dt
  *ngIf="showTable"
  [value]="allTickets"
  [columns]="ticketDetailsCols"
  [rowHover]="true"
  [responsive]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[2, 5, 10, 25, 50]"
  [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [filterDelay]="1"
  [globalFilterFields]="[
    'ticket_no',
    'summary',
    'reported_by',
    'issue_status',
    'priority',
    'environment',
    'severity',
    'issue_type',
    'reported_date'
  ]"
>
  <ng-template pTemplate="caption">
    <div style="text-align: right;">
      <i class="pi pi-search" style="margin: 4px 4px 0 0;"></i>
      <input
        type="text"
        pInputText
        size="50"
        placeholder="Global Filter"
        (input)="dt.filterGlobal($event.target.value, 'contains')"
        style="width: auto;"
      />
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{ col.header }}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-ticket let-columns="ticketDetailsCols">
    <tr>
      <td>
        <a [routerLink]="['/view-edit-tickets', ticket.ticket_no]">{{
          ticket.ticket_no
        }}</a>
      </td>
      <td>{{ ticket.summary }}</td>
      <td>{{ ticket.issue_status }}</td>
      <td>{{ ticket.issue_type }}</td>
      <td>{{ ticket.severity }}</td>
      <td>{{ ticket.priority }}</td>
      <td>{{ ticket.environment }}</td>
      <td>{{ ticket.blocking }}</td>
      <td>{{ ticket.reported_by }}</td>
      <td>{{ ticket.reported_date |date:'d-MMM-y h:mm:ss a'}}</td>
    </tr>
  </ng-template>
</p-table>
