.bottom-detail-right-border{
    border-right-style: solid; 
    border-right-color: #E6E6E6; 
    border-right-width: 0.063rem;
}
.summary-text{
    padding-left: 0.938rem;
    color: #628cB5;
}
.item-no-text{
    color: #313437;
}
.item-details-text{
    color: #ABACAE;
}
.item-details-labels{
    color: #ABACAE;
    font-size:0.75rem;
    padding:0 0.625rem 0 0;
}