
.jirigoCard1 {
    border-radius: 5px;
    /* box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    margin-bottom:15px;
    width: auto;
  }
  
  .jirigoCard:hover {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
  }
  
  .jirigoCardContainer {
    margin: 0px 0 0px 0 ;
    padding: 5px 0px 5px 0px;
  }
  .jHr{
    margin : 0px 0 0px 0;
    padding : 0px 0 0px 0;
    color: #DFE5EB;
  }

.bottom-detail-right-border{
    border-right-style: solid; 
    border-right-color: #E6E6E6; 
    border-right-width: 1px;
}
.summary-text{
    padding-left: 15px;
    color: #628cB5;
}
.item-no-text{
    color: #313437;
}
.item-details-text{
    color: #ABACAE;
}

.item-details-text-overflow{
  color: #ABACAE;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap; 
}

.item-details-labels{
    color: #ABACAE;
    font-size:12px;
    padding:0 10px 0 0;
}