<nav class="navbar navbar-expand-md navbar-toggleable-md navbar-dark" 
     style="background-color: #48505a;border-radius: 5px;" 
     *ngIf="loggedIn" 
     >
    <img src="./assets/images/JirigoLogo.png" alt="" height="50" width="60" />
    <span>&nbsp;&nbsp;&nbsp;</span>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarCollapse" class="collapse navbar-collapse" >
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a [routerLink]="['/dashboard']" href="#" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Projects</a>
                <div class="dropdown-menu">
                    <a [routerLink]="['/projects/create-project']" href="#" class="dropdown-item">Create Project</a>
                    <a [routerLink]="['/projects/list-projects']" href="#" class="dropdown-item">List Projects</a>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-item"
                        style="color:white;background-color:blue">{{currentProjectName}}</div>
                    <div class="dropdown-divider"></div>
                    <a [routerLink]="['/projects/change-project']" href="#" class="dropdown-item"
                        (click)="changeProject($event)">Change Project</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Tickets</a>
                <div class="dropdown-menu">
                    <a [routerLink]="['/tickets/create-ticket']" href="#" class="dropdown-item">Create Ticket</a>
                    <a [routerLink]="['/tickets/list-tickets']" href="#" class="dropdown-item">List Tickets</a>
                    <a [routerLink]="['/my-items/tickets']" href="#" class="dropdown-item">My Tickets</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Tasks</a>
                <div class="dropdown-menu">
                    <a [routerLink]="['/tasks/create-task']" href="#" class="dropdown-item">Create Task</a>
                    <a [routerLink]="['/tasks/list-tasks']" href="#" class="dropdown-item">List Tasks</a>
                    <a [routerLink]="['/my-items/tasks']" href="#" class="dropdown-item">My Tasks</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Sprints</a>
                <div class="dropdown-menu">
                    <a [routerLink]="['/sprints/create-sprint']" href="#" class="dropdown-item">Create Sprint</a>
                    <a [routerLink]="['/sprints/list-sprints']" href="#" class="dropdown-item">List Sprints</a>
                </div>
            </li>
            
            <li class="nav-item dropdown" *ngIf="loggedInUserRole == 'Admin'">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" >
                  Administration
                </a>
                <ul class="dropdown-menu" > 
                  <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">References</a>
                    <ul class="dropdown-menu">
                        <a [routerLink]="['/refdata-management/show-and-edit']" href="#" class="dropdown-item">List References</a>
                    </ul>
                  </li>
                  
                  <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Users</a>
                    <ul class="dropdown-menu">
                        <a [routerLink]="['/user-management/create-user']" href="#" class="dropdown-item">Create User</a>
                        <a [routerLink]="['/user-management/all-users']" href="#" class="dropdown-item">List Users</a>
                    </ul>
                  </li>

                  <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Workflows</a>
                    <ul class="dropdown-menu">
                        <a [routerLink]="['/workflow-management/create-workflow']" href="#" class="dropdown-item">Create Workflow</a>
                        <a [routerLink]="['/workflow-management/edit-workflow']" href="#" class="dropdown-item">Edit Workflow</a>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Roles</a>
                    <ul class="dropdown-menu">
                        <a [routerLink]="['/role-management/crud-roles']" href="#" class="dropdown-item">Manage Roles</a>
                        <a [routerLink]="['/role-management/assign-roles']" href="#" class="dropdown-item">Assign Roles</a>
                    </ul>
                  </li>  
                </ul>
              </li>


        </ul>
        
        <ul class="nav navbar-nav ml-auto" *ngIf="loggedIn">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <!-- <img src="http://localhost:9001/api/v1/image-management/get-image/4?val=3" alt="MyImage" sizes="" srcset="" style="width:40px;height:40px;border-radius: 50%; margin: 0 10px 0 0;"> -->
                    <img src="assets/images/avatars/{{random_avatar_png_no}}.png" alt="MyImage" sizes="" srcset="" style="width:40px;height:40px;border-radius: 50%; margin: 0 10px 0 0;">
                    {{loggedInUserName}}
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <!-- <a href="#" class="dropdown-item">Profile</a> -->
                    <div class="dropdown-divider"></div>
                    <a [routerLink]="['/logout']" class="dropdown-item">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>