<nav class="navbar navbar-expand-md navbar-toggleable-md navbar-dark mb-0 py-0" 
     style="background-color: #48505a;border-radius: 0.125rem;" 
     *ngIf="loggedIn" 
     >
     <a  [routerLink]="['/homepage']" href="#" class="nav-link" *ngIf="validUserMenuPaths['/homepage']" >
        <img src="./assets/images/JirigoLogo.png" alt="Jirigo" 
        class="logoimg"/>
        
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarCollapse" class="collapse navbar-collapse" >
        <ul class="nav navbar-nav">
            <li class="nav-item " [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a  [routerLink]="['/dashboard']" href="#" class="nav-link" *ngIf="validUserMenuPaths['/dashboard']">Dashboard</a>
            </li>
            <li class="nav-item dropdown"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" *ngIf="validUserMenuPaths['/projects']">Projects</a>
                <div class="dropdown-menu">
                    <a [routerLink]="['/projects/create-project']" href="#" class="dropdown-item" *ngIf="validUserMenuPaths['/projects/create-project']">Create Project</a>
                    <a [routerLink]="['/projects/list-projects']" href="#" class="dropdown-item" *ngIf="validUserMenuPaths['/projects/list-projects']">List Projects</a>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-item"
                        style="color:white;background-color:blue">{{currentProjectName}}</div>
                    <div class="dropdown-divider"></div>
                    <a [routerLink]="['/projects/change-project']" href="#" class="dropdown-item"
                        (click)="changeProject($event)"  *ngIf="validUserMenuPaths['/projects/change-project']">Change Project</a>
                </div>
            </li>
            <li class="nav-item dropdown" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" *ngIf="validUserMenuPaths['/tickets']">Tickets</a>
                <div class="dropdown-menu" >
                    <a [routerLink]="['/tickets/create-ticket']" href="#" class="dropdown-item" *ngIf="validUserMenuPaths['/tickets/create-ticket']">Create Ticket</a>
                    <a [routerLink]="['/tickets/list-tickets']" href="#" class="dropdown-item" *ngIf="validUserMenuPaths['/tickets/list-tickets']">List Tickets</a>
                    <a [routerLink]="['/my-items/tickets']" href="#" class="dropdown-item" *ngIf="validUserMenuPaths['/my-items/tickets']">My Tickets</a>
                </div>
            </li>
            <li class="nav-item dropdown" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" *ngIf="validUserMenuPaths['/tasks']">Tasks</a>
                <div class="dropdown-menu">
                    <a [routerLink]="['/tasks/create-task']" href="#" class="dropdown-item" *ngIf="validUserMenuPaths['/tasks/create-task']">Create Task</a>
                    <a [routerLink]="['/tasks/list-tasks']" href="#" class="dropdown-item" *ngIf="validUserMenuPaths['/tasks/list-tasks']">List Tasks</a>
                    <a [routerLink]="['/my-items/tasks']" href="#" class="dropdown-item" *ngIf="validUserMenuPaths['/my-items/tasks']">My Tasks</a>
                </div>
            </li>
            <li class="nav-item dropdown" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" *ngIf="validUserMenuPaths['/sprints']"  >Sprints</a>
                <div class="dropdown-menu">
                    <a [routerLink]="['/sprints/create-sprint']" href="#" class="dropdown-item" *ngIf="validUserMenuPaths['/sprints/create-sprint']">Create Sprint</a>
                    <a [routerLink]="['/sprints/list-sprints']" href="#" class="dropdown-item" *ngIf="validUserMenuPaths['/sprints/list-sprints']">List Sprints</a>
                </div>
            </li>
            
            <li class="nav-item dropdown" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  *ngIf="loggedInUserRole == 'Admin'">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                  Administration
                </a>
                <ul class="dropdown-menu" > 
                  <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#" *ngIf="validUserMenuPaths['/refdata-management']">References</a>
                    <ul class="dropdown-menu">
                        <a [routerLink]="['/refdata-management/show-and-edit']" href="#" class="dropdown-item" *ngIf="validUserMenuPaths['/refdata-management/show-and-edit']">List References</a>
                    </ul>
                  </li>
                  
                  <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#" *ngIf="validUserMenuPaths['/user-management']">Users</a>
                    <ul class="dropdown-menu">
                        <a [routerLink]="['/user-management/create-user']" href="#" class="dropdown-item" *ngIf="validUserMenuPaths['/user-management/create-user']">Create User</a>
                        <a [routerLink]="['/user-management/all-users']" href="#" class="dropdown-item" *ngIf="validUserMenuPaths['/user-management/all-users']">List Users</a>
                    </ul>
                  </li>

                  <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#" *ngIf="validUserMenuPaths['/workflow-management']">Workflows</a>
                    <ul class="dropdown-menu">
                        <a [routerLink]="['/workflow-management/create-workflow']" href="#" class="dropdown-item" *ngIf="validUserMenuPaths['/workflow-management/create-workflow']">Create Workflow</a>
                        <a [routerLink]="['/workflow-management/edit-workflow']" href="#" class="dropdown-item" *ngIf="validUserMenuPaths['/workflow-management/edit-workflow']">Edit Workflow</a>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#" *ngIf="validUserMenuPaths['/role-management']">Roles</a>
                    <ul class="dropdown-menu">
                        <a [routerLink]="['/role-management/crud-roles']" href="#" class="dropdown-item" *ngIf="validUserMenuPaths['/role-management/crud-roles']">Manage Roles</a>
                        <a [routerLink]="['/role-management/assign-roles']" href="#" class="dropdown-item" *ngIf="validUserMenuPaths['/role-management/assign-roles']">Assign Roles</a>
                        <a [routerLink]="['/role-management/assign-menus-to-role']" href="#" class="dropdown-item" *ngIf="validUserMenuPaths['/role-management/assign-menus-to-role']">Menu To Role</a>
                    </ul>
                  </li>  
                </ul>
              </li>

              <li class="nav-item " [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a  [routerLink]="['/data-extracts']" href="#" class="nav-link" *ngIf="validUserMenuPaths['/data-extracts']">Data Extracts</a>
              </li>
        </ul>
        <ul class="nav navbar-nav pt-3 offset-lg-2">
            <app-global-search></app-global-search>
        </ul>
        <ul class="nav navbar-nav ml-auto" *ngIf="loggedIn">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <img src="assets/images/avatars/{{random_avatar_png_no}}.png" alt="MyImage" sizes="" srcset="" style="width:2.5rem;height:2.5rem;border-radius: 50%; margin: 0 0.625rem 0 0;">
                    {{loggedInUserName}}
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <!-- <a href="#" class="dropdown-item">Profile</a> -->
                    <a [routerLink]="['/todos']" class="dropdown-item">Todos</a>
                    <div class="dropdown-divider"></div>
                    <a [routerLink]="['/logout']" class="dropdown-item">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>