<ngx-spinner [fullScreen]="true" type="ball-newton-cradle" size="medium"></ngx-spinner>
<p-toast [style]="{ marginTop: '10px' }" position="top-right"></p-toast>
<form [formGroup]="viewModifyTaskFB" (ngSubmit)="updateTask()" *ngIf="isLoaded">
  <div class="form-group">

    <div class="row btn-group"  *ngIf="viewEditFormEditBtnEnabled" style="margin-bottom: 8px;">
      <div class="col-lg-12" >
            <button type="button" label="Modify Task" class="btn btn-sm btn-orange mr-1" (click)="markFormEditable()"
              >
              <fa-icon [icon]="faEdit" style="padding-right: 6px; color: white;"></fa-icon>Modify Task
            </button>
            <button type="button" label="Clone Task" class="btn btn-sm btn-purple mr-1" (click)="cloneTask()">
              <fa-icon [icon]="faClone" style="color: white;"></fa-icon>&nbsp;
              Clone Task
            </button>
            <button type="button" label="Link Task" class="btn btn-sm btn-electricpurple mr-1" (click)="showLinksModal($event)">
              <fa-icon [icon]="faLink" style="color: white;"></fa-icon>&nbsp;
              Link Task
            </button>
            <button type="button" label="Log Time" class="btn btn-sm btn-blandviolet mr-1" (click)="mtl.openMod()"
              >
              <fa-icon [icon]="faClock" style="color: white;"></fa-icon>&nbsp;
              Log Time
            </button>
            <button type="button" label="Attachments" class="btn btn-sm btn-cyan-a700" (click)="mtl.openMod()"
              >
              <fa-icon [icon]="faPaperclip" style="color: white;"></fa-icon>&nbsp;
              Attachments
            </button>
          </div>
    </div>


    <br />
    <div class="card">
      <div class="card-header" style="width: auto;">
        <h4>{{ task_no }}</h4>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <label for="formGroupExampleInput" class="col-form-label-md">Summary</label>
        <input formControlName="fctlSummary" type="text" placeholder="" id="summary" class="form-control-plain"
          required />
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label for="formGroupExampleInput" class="col-form-label-md">Description</label>
        <quill-editor formControlName="fctlDescription" [styles]="editorStyle" [modules]="config">
        </quill-editor>
      </div>
    </div>
  </div>

  <div class="jSelectButtonContainer">
    <p-selectButton [options]="tabs" formControlName="fctlTabOptions" (onChange)="tabSelected($event)"></p-selectButton>
  </div>
  <app-task-details [parentForm]="viewModifyTaskFB" *ngIf="buttonGroupOptions.showTaskDetails" ></app-task-details>
  <app-task-comments [parentForm]="viewModifyTaskFB" *ngIf="buttonGroupOptions.showTaskComments"></app-task-comments>
  <app-audit-task [parentForm]="viewModifyTaskFB" *ngIf="buttonGroupOptions.showAudit"></app-audit-task>
  <app-depends-on [currentTaskTicketNo]="task_no" *ngIf="buttonGroupOptions.showDependsOn"></app-depends-on>
  <app-related-to [currentTaskTicketNo]="task_no" *ngIf="buttonGroupOptions.showRelatedTo"></app-related-to>
  <app-duplicated-by [currentTaskTicketNo]="task_no" *ngIf="buttonGroupOptions.showDuplicatedBy"></app-duplicated-by>
  <app-timelog [currentTaskNo]="task_no" *ngIf="buttonGroupOptions.showTimeLog"></app-timelog>


  <div class="row mt-3" *ngIf="buttonGroupOptions.showTaskDetails || ! viewEditFormEditBtnEnabled">
    <div class="col offset-lg-5">
        <button type="button"  (click)="cancelViewEditForm()" class="btn btn-secondary mr-4">Cancel</button>
        <button type="submit" 
        [disabled]="!viewModifyTaskFB.valid || !viewModifyTaskFB.dirty || !viewModifyTaskFB.touched"  
        class="btn btn-primary">Submit</button>
      </div>
  </div>

</form>

<app-ticket-and-task-links *ngIf="showLinkTaskModal" [currentItemNo]="task_no"
  (linkModalClosed)="disableShowLinksModal()">
</app-ticket-and-task-links>

<m-modal-timelogging  #mtl 
  [show-time-logger]="showMod2" 
  [activity-list]="activitiesToLogTime" 
  [cancel-label]="'Discard'"
  (cancelled)="timeLoggerCancelled();"
  (confirmed)="timeLoggerConfirmed($event);"
>
</m-modal-timelogging>

<app-modal-confirm
  [modalType]="modalAlertConfig.modalType"
  [showModal]="modalAlertConfig.showModal"
  [title]="modalAlertConfig.title"
  [modalContent]="modalAlertConfig.modalContent"
  [cancelButtonLabel]="modalAlertConfig.cancelButtonLabel"
  [confirmButtonLabel]="modalAlertConfig.confirmButtonLabel"
  (dialogCanceled)="modalAlertAction(modalAlertConfig.dialogCanceled)"
  (dialogConfirmed)="modalAlertAction(modalAlertConfig.dialogConfirmed)"
  (dialogClosed)="modalAlertAction(modalAlertConfig.dialogClosed)"
>
</app-modal-confirm>