<form [formGroup]="parentForm" #issueDetailsComponent>
  <div class="card">

    <div id="idIssueType">
      <div class="card-body">
        <div class="form-group">
          <div class="row">
            <div class="col-md-3 col-lg-3">
              <label for="formGroupExampleInput" class="col-form-label col-form-label-sm">Issue Type<span
                  class="required-field"></span></label>
              <select class="form-control-plain j-current-input" id="exampleFormControlSelect1" formControlName="fctlIssueType">
                <option value="" disabled>Choose..</option>
                <option *ngFor="let issueType of ticketIssueTypesRef" [ngValue]="issueType.name">{{ issueType.name }}
                </option>
              </select>
            </div>
            <div class="col-md-3 col-lg-3">
              <label for="formGroupExampleInput" class="col-form-label col-form-label-sm">Severity<span
                  class="required-field"></span></label>
              <select class="form-control-plain j-current-input" id="exampleFormControlSelect1" formControlName="fctlSeverity"
                (change)="setEnvironment1($event)">
                <option value="" disabled>Choose..</option>
                <option *ngFor="let severity of ticketSeveritiesRef" [ngValue]="severity.name">{{ severity.name }}
                </option>
              </select>
            </div>
            <div class="col-md-3 col-lg-3">
              <label for="formGroupExampleInput" class="col-form-label col-form-label-sm">Priority<span
                  class="required-field"></span></label>
              <select class="form-control-plain j-current-input" id="exampleFormControlSelect1" formControlName="fctlPriority"
                (change)="setEnvironment1($event)">
                <option value="" disabled>Choose..</option>
                <option *ngFor="let priority of ticketPrioritiesRef" [ngValue]="priority.name">{{ priority.name }}
                </option>
              </select>
            </div>

            <div class="col-md-3 col-lg-3">
              <label for="formGroupExampleInput" class="col-form-label col-form-label-sm">Environment<span
                  class="required-field"></span></label>
              <select class="form-control-plain j-current-input" id="exampleFormControlSelect1" formControlName="fctlEnvironment"
                (change)="setEnvironment1($event)">
                <option value="" disabled>Choose..</option>
                <option *ngFor="let env of ticketEnvRef" [ngValue]="env.name">{{
                  env.name
                }}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-lg-3">
              <label for="formGroupExampleInput" class="col-form-label col-form-label-sm">Issue Status<span
                  class="required-field"></span></label>
              <select class="form-control-plain j-current-input" id="exampleFormControlSelect1" formControlName="fctlIssueStatus"
                (change)="setReportedBy($event)">
                <option value="" value="" disabled>Choose..</option>
                <option *ngFor="let issueStatus of ticketIssueStatusesRef" [ngValue]="issueStatus.name">
                  {{ issueStatus.name }}</option>
              </select>
            </div>

            <div class="col-md-3 col-lg-3">
              <label for="formGroupExampleInput" class="col-form-label col-form-label-sm">Blocking?<span
                  class="required-field"></span></label>
              <div>
                <label class="switch">
                  <input type="checkbox" formControlName="fctlIsBlocking" />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>

            <div class="col-md-3 col-lg-3">
              <label class="col-form-label col-form-label-sm">Reported Date<span class="required-field"></span></label>
              <div class="input-group ">
                <input class="form-control j-current-input " formControlName="fctlReportedDate" placeholder="yyyy-mm-dd" name="md"
                  ngbDatepicker #md="ngbDatepicker" (click)="md.toggle()" />
                <div class="input-group-append">
                  <span (click)="md.toggle()" class="oi oi-calendar"
                    style="font-size: 2.25em;padding: 3px 0 0 0; margin: 0 0 0 5px;"></span>
                </div>
              </div>
            </div>


            <div class="col-md-3 col-lg-3">
              <label for="typeahead-http" class="col-form-label col-form-label-sm">Reported By<span
                  class="required-field"></span></label>
              <br />
              <p-autoComplete formControlName="fctlReportedBy" [suggestions]="userListForDropDown"
                (completeMethod)="searchUsers($event)" [size]="41" [style]="{'border-radius':'40px'}">
              </p-autoComplete>
            </div>


            <div class="col-md-3 col-lg-3">
              <label for="typeahead-http" class="col-form-label col-form-label-sm">Assigned To<span
                  class="required-field"></span></label>
              <br />
              <p-autoComplete formControlName="fctlAssigneeName" [suggestions]="userListForDropDown"
                (completeMethod)="searchUsers($event)" [size]="41" [style]="{'border-radius':'40px'}">
              </p-autoComplete>
            </div>

            <div class="col-md-3 col-lg-3">
              <label for="formGroupExampleInput" class="col-form-label col-form-label-sm">Affected Module
              </label>
              <select class="form-control-plain j-current-input" id="exampleFormControlSelect1" formControlName="fctlModule"
                (change)="setEnvironment1($event)">
                <option value="" disabled>Choose..</option>
                <option *ngFor="let module of ticketModuleRef" [ngValue]="module.name">{{ module.name }}</option>
              </select>
            </div>
            <div class="col-md-3 col-lg-3">
              <label for="id_ticketChannel" class="col-form-label col-form-label-sm">Channel<span
                class="required-field"></span></label>
              <select class="form-control-plain j-current-input" id="id_ticketChannel" formControlName="fctlChannel"
                >
                <option value="" disabled>Choose..</option>
                <option *ngFor="let channel of ticketChannelsRef" [ngValue]="channel.name">{{ channel.name }}</option>
              </select>
            </div>
          </div>

            <div class="row" *ngIf="this.parentForm.get('fctlTicketNo')?.value">
              <div class="col-md-3 col-lg-3">
                <label class="col-form-label col-form-label-sm">Created By</label>
                <div class="input-group ">
                  <input class="form-control j-current-input " formControlName="fctlCreatedBy"  name="nm_createdDate"
                  readonly />
                </div>
              </div>
              <div class="col-md-3 col-lg-3">
                <label class="col-form-label col-form-label-sm">Created Date</label>
                <div class="input-group ">
                  <input class="form-control j-current-input " 
                  [value]="parentForm.get('fctlCreatedDate').value | date : 'dd MMM yyyy HH:MM:SS'"
                  name="nm_createdDate"
                  readonly />
                </div>
              </div>
              <div class="col-md-3 col-lg-3">
                <label class="col-form-label col-form-label-sm">Modified By</label>
                <div class="input-group ">
                  <input class="form-control j-current-input " formControlName="fctlModifiedBy"  name="nm_modifiedBy"
                    readonly />
                </div>
              </div>
              <div class="col-md-3 col-lg-3">
                <label class="col-form-label col-form-label-sm">Modified Date</label>
                <div class="input-group ">
                  <input type="text" class="form-control j-current-input " 
                          name="mmd"
                          [value]="parentForm.get('fctlModifiedDate').value | date : 'dd MMM yyyy HH:MM:SS'"
                          readonly />
                </div>
              </div>
            </div>
          

        </div>
      </div>
    </div>
  </div>
</form>