.menu-item-assigned{
    font-size: 0.938rem; 
    padding: 0.625rem 0.625rem 0.625rem 0.625rem ;
    background-color: #a4c639 ;
    font-weight:500 ;
    border-radius: 0.188rem;
    color:white;
}

.menu-item-unassigned{
    font-size: 0.938rem; 
    padding: 0.625rem 0.625rem 0.625rem 0.625rem ;
    background-color: #fdc100 ;
    font-weight:500 ;
    border-radius: 0.188rem;
    color:white;
}