<h4>Assign Menus To Role</h4>
<div
  class="container-fluid"
  style="background-color:transparent; border-radius: 5px; margin: 0 0 17px 0;"
>
  <div class="row" style="padding:20px 0 0 0;">
    <div class="col-lg-3 offset-lg-3">
      <div class="form-group">
        <!-- <label class="col-form-label">Project</label> -->
        <select
          class="form-control  j-dropdown"
          [(ngModel)]="selectedProjectId"
          (change)="populateRolesDropDown()"
        >
          <option class= "j-dropdown-item"  value="0" selected>Choose Project Name</option>
          <option class= "j-dropdown-item" 
            *ngFor="let project of projectList"
            [value]="project.project_id"
          >
            {{ project.project_name }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <!-- <label class="col-form-label">Reference Category</label> -->
        <select
          class="form-control j-dropdown"
          [(ngModel)]="selectedRoleId"
          (change)="populateMenuDetailsFromDB()"
        >
          <option class= "j-dropdown-item" value="0" selected>Choose Reference Category</option>
          <option class= "j-dropdown-item" *ngFor="let role of filteredRolesList" [value]="role.role_id">
            {{ role.role_name }}
          </option>
        </select>
      </div>
    </div>
   
    
  </div>
</div>
<p-pickList 
    [source]="unAssignedMenus" 
    [target]="assignedMenus"
    sourceHeader="UnAssigned Menus"
    targetHeader="Assigned Menus"
    [responsive]="true"
    filterBy="menu_url"
    dragdrop="true"
    sourceFilterPlaceholder="Search"
    targetFilterPlaceholder="Search"
    [sourceStyle]="{ height: '380px' }"
    [targetStyle]="{ height: '380px' }"
    dragdrop="true"
    (onMoveToSource)="itemMoved()"
    (onMoveToTarget)="itemMoved()"
    (onMoveAllToSource)="allItemsMoved()"
    (onMoveAllToTarget)="allItemsMoved()"
    >
  <ng-template let-menu pTemplate="item">
    <div class="ui-helper-clearfix">
      <div [ngClass]="{'menu-item-assigned':menu?.assigned,'menu-item-unassigned':!menu?.assigned}"   >
        {{ menu?.path }}
      </div>
    </div>
  </ng-template>
</p-pickList>


<div
  class="container-fluid"
  
>
  <div class="row mt-4">
    <div class="col-lg-1 offset-lg-5">
      <button 
          type="button" 
          class="btn btn-primary"
          (click)="submit()"
          >Submit</button>
    </div>
    <div class="col-lg-1">
      <button 
      type="button" 
      class="btn btn-secondary"
      (click)="cancel()"
      >Cancel</button>
    </div>
   
  </div>
</div>


<app-modal-confirm
  [modalType]="modalAlertConfig.modalType"
  [showModal]="modalAlertConfig.showModal"
  [title]="modalAlertConfig.title"
  [modalContent]="modalAlertConfig.modalContent"
  [cancelButtonLabel]="modalAlertConfig.cancelButtonLabel"
  [confirmButtonLabel]="modalAlertConfig.confirmButtonLabel"
  (dialogCanceled)="modalAlertAction(modalAlertConfig.dialogCanceled)"
  (dialogConfirmed)="modalAlertAction(modalAlertConfig.dialogConfirmed)"
  (dialogClosed)="modalAlertAction(modalAlertConfig.dialogClosed)"
>
</app-modal-confirm>