.menu-item-assigned{
    font-size: 15px; 
    padding: 10px 10px 10px 10px ;
    background-color: #a4c639 ;
    font-weight:500 ;
    border-radius: 3px;
    color:white;
}

.menu-item-unassigned{
    font-size: 15px; 
    padding: 10px 10px 10px 10px ;
    background-color: #fdc100 ;
    font-weight:500 ;
    border-radius: 3px;
    color:white;
}