<h3>Create Task</h3>

<form [formGroup]="createTaskFB" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label
          for="formGroupExampleInput"
          class="col-form-label col-form-label-sm"
          >Summary<span class="required-field"></span
        ></label>
        <input
          formControlName="fctlSummary"
          type="text"
          placeholder=""
          id="summary"
          class="form-control required"
          required
        />
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label
          for="formGroupExampleInput"
          class="col-form-label col-form-label-sm"
          >Description<span class="required-field"></span
        ></label>
      </div>
    </div>
    <div class=" " id="idQuillEditor">
      <quill-editor
        formControlName="fctlDescription"
        [styles]="editorStyle"
        [modules]="config"
      >
      </quill-editor>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <label
        for="formGroupExampleInput"
        class="col-form-label col-form-label-sm"
        >Details<span class="required-field"></span
      ></label>
    </div>
  </div>
  <app-task-details [parentForm]="createTaskFB"></app-task-details>

  <div class="row" style="margin-top: 40px;">
    <div class="col offset-lg-5">
      <button
        type="button"
        (click)="cancelForm()"
        class="btn btn-light mr-4"
      >
        Cancel
      </button>
      <button
        type="submit"
        [disabled]="!createTaskFB.valid || !createTaskFB.dirty"
        class="btn btn-primary"
      >
        Submit
      </button>
    </div>
  </div>
</form>

<app-modal-confirm
  [modalType]="alertType"
  [showModal]="showAlert"
  [title]="alertTitle"
  [modalContent]="alertContent"
  [cancelButtonLabel]="alertCancelButtonTest"
  [confirmButtonLabel]="alertConfirmButtonText"
  (dialogCanceled)="dialogAction('canceled')"
  (dialogConfirmed)="dialogAction('confirmed')"
  (dialogClosed)="dialogAction('closed')"
>
</app-modal-confirm>
