.edit-icon{
    padding: 0 0 0 0;
    color: lightsalmon;
    font-size: large;
}

.edit-icon:hover{
    cursor: pointer;
}

.j-dropdown {
    position: relative;
    display: inline-block;
}

.j-dropdown:hover {
    cursor: pointer;
    border-radius:0.313rem;
    border-style: solid;
    border-color: #3884ff;
    border-width: 0.125rem;
    color:#666;
}

.j-dropdown-item {
    background-color: white;
    color: #575252;
}
