<div class="container-fluid">

  <div class="row" >
    <!-- <div class="col-md-5 col-lg-5" style="padding:0 0 0 0;">
      <div class="btn-group btn-group-toggle" role="group"  data-toggle="buttons">
        <button type="button" class="btn btn-outline-success" (click)="setLastNDaysForDashBoard(1)">Today</button>
        <button type="button" class="btn btn-outline-primary" (click)="setLastNDaysForDashBoard(7)">Last 7 days</button>
        <button type="button" class="btn btn-outline-secondary" (click)="setLastNDaysForDashBoard(30)">Last 30 days</button>
        <button type="button" class="btn btn-outline-info" (click)="setLastNDaysForDashBoard(60)">Last 60 days</button>
        <button type="button" class="btn btn-outline-success" (click)="setLastNDaysForDashBoard(90)">Last 90 days</button>
      </div>
    </div> -->
    <div class="col-md-5 col-lg-5" style="padding:0 0 0 0;">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-outline-success ">
            <input type="radio" name="options" id="option1" autocomplete="off" checked (click)="setLastNDaysForDashBoard(1)"> Today
          </label>
          <label class="btn btn-outline-primary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked (click)="setLastNDaysForDashBoard(7)"> Last 7 days
          </label>
          <label class="btn btn-outline-secondary ">
            <input type="radio" name="options" id="option1" autocomplete="off" checked (click)="setLastNDaysForDashBoard(30)"> Last 30 days
          </label>
          <label class="btn btn-outline-info ">
            <input type="radio" name="options" id="option1" autocomplete="off" checked (click)="setLastNDaysForDashBoard(60)"> Last 60 days
          </label>
          <label class="btn btn-outline-success ">
            <input type="radio" name="options" id="option1" autocomplete="off" checked (click)="setLastNDaysForDashBoard(90)"> Last 90 days
          </label>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 ">
        <h4 style="vertical-align:middle;"> Ticket Dashboard</h4>
    </div>
  </div>
  <hr>
  <div class="row" style="margin-top: 20px;" >
    <div class="col-sm-6 col-lg-3 topCardLeft">
      <div class="inner1">
        <div class="overview-box clearfix">
          <div class="icon">
            <fa-icon [icon]="faFolderOpen" class="zmdi"></fa-icon>
          </div>
          <div class="text">
            <span style="font-weight: 600;">Open Issues</span>
            <h4 class="text-align" *ngIf="lgCardsData">{{openIssuesCount}}</h4>
          </div>
        </div>

      </div>
    </div>
    <div class="col-sm-6 col-lg-3 topCardMiddle">
      <div class="inner2">
        <div class="overview-box clearfix">
          <div class="icon">
            <fa-icon [icon]="faThumbsUp" class="zmdi"></fa-icon>
          </div>
          <div class="text">
            <span style="font-weight: 600;">Closed Issues</span>
            <h4 class="text-align" *ngIf="lgCardsData">{{closedIssuesCount}}</h4>
          </div>
        </div>

      </div>
    </div>
    <div class="col-sm-6 col-lg-3 topCardMiddle">
      <div class="inner3">
        <div class="overview-box clearfix">
          <div class="icon">
            <fa-icon [icon]="faBug" class="zmdi"></fa-icon>
          </div>
          <div class="text">
            <span style="font-weight: 600;">Bugs Vs Others</span>
            <h4 class="text-align" *ngIf="lgCardsData">{{bugsVsOthersCount}}</h4>
          </div>
        </div>
        

      </div>
    </div>
    <div class="col-sm-6 col-lg-3 topCardRight">
      <div class="inner4">
        <div class="overview-box clearfix">
          <div class="icon">
            <fa-icon [icon]="faFire" class="zmdi"></fa-icon>
          </div>
          <div class="text">
            <span style="font-weight: 600;">Critical & High Severity</span>
            <h4 class="text-align"  *ngIf="lgCardsData">{{highSeverityCount}}</h4>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 ">
      <div class="overview-chart ">
        <canvas id="id_summaryByIssueStatus" height="300">{{ticketIssueStatusBarChart}}</canvas>
      </div>
      <div class="noChartData " *ngIf="showErrorNoDatasummaryByIssueStatus">
        <h6 > Stale Chart, Not REFRESHED ,No Data Found for Said Time Range</h6>
      </div>
    </div>

    <div class="col-lg-6 " >
      <div class="overview-chart "  >
        <canvas id="id_summaryByIssueType" height="300">{{ticketIssueTypeBarChart}}</canvas>
      </div>
      <div class="noChartData " *ngIf="showErrorNoDatasummaryByIssueType">
        <h6 > Stale Chart, Not REFRESHED ,No Data Found for Said Time Range</h6>
      </div>
    </div>
  </div>
  
  <div class="row" style="margin-top: 20px;"  >
    <div class="col-lg-6 ">
      <div class="overview-chart " >
        <canvas id="id_ticketCreatedPerDayInLastNdays" height="300">{{ticketCreatedPerDayChart}}</canvas>
      </div>
      <div class="noChartData " *ngIf="showErrorNoDataticketCreatedPerDayInLastNdays">
        <h6 > Stale Chart, Not REFRESHED ,No Data Found for Said Time Range</h6>
      </div>
    </div>
    <div class="col-lg-6 ">
      <div class="overview-chart " >
        <canvas id="id_ticketsStillOpenLastNDays" height="300">{{ticketOpenLastNDaysChart}}</canvas>
      </div>
      <div class="noChartData " *ngIf="showErrorNoDataticketsStillOpenLastNDays">
        <h6 > Stale Chart, Not REFRESHED ,No Data Found for Said Time Range</h6>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 20px;" >
    <div class="col-lg-6 ">
      <div class="overview-chart ">
        <canvas id="id_openByModuleLastNDays" height="300">{{ticketOpenByModuleLastNDaysChart}}</canvas>
      </div>
      <div class="noChartData " *ngIf="showErrorNoDataticketsOpenByModuleLastNDays">
        <h6 > Stale Chart, Not REFRESHED ,No Data Found for Said Time Range</h6>
      </div>
    </div>

    <!-- <div class="col-lg-6 " >
      <div class="overview-chart "  >
        <canvas id="id_summaryByIssueType" height="300">{{ticketIssueTypeBarChart}}</canvas>
      </div>
      <div class="noChartData " *ngIf="showErrorNoDatasummaryByIssueType">
        <h6 > Stale Chart, Not REFRESHED ,No Data Found for Said Time Range</h6>
      </div>
    </div> -->
  </div>

</div>

