
.card.draggable {
    margin-bottom: 1rem;
    cursor: grab;
}

.droppable:hover {
    background-color: #E8EAF6;

}


.card:hover {
    background-color: #E8EAF6;
}

.task-count{
    padding-left:0.313rem;
    font-size:0.813rem;
    font-weight:550;
    color:grey;
}

.c-card-issue-status{
    font-size: 12px;
    font-weight: 400;
    padding-bottom:3px;
    background-color: #E3F2FD;
}

.c-card-header{
    padding-left: 5px !important;
    padding-top: 1px !important;
    margin-top: 1px !important;
    font-size: 17px;
    font-weight: 500;
}

.c-card-body{
    background-color: #f1f1f1;
    padding-top: 1px !important;
    margin-top: 1px !important;
    padding-right: 4px !important;
    padding-left: 4px !important;
}

.c-card{
    background-color: #f1f1f1;
    padding-top: 1px !important;
    margin-top: 1px !important;
}

.c-card-row{
    height: 20px;
    margin-bottom: 1px !important;
    padding-bottom: 2px !important;
}

.card.c-main-header:hover{
    background-color: #f1f1f1;
}