<h3>Scrum Board</h3>
<!-- <div class="small  text-dark">Drag and drop between swim lanes</div> -->
<div class="container-fluid pt-3" *ngIf="showBoard">
    <div class="row flex-row flex-sm-nowrap py-3" pDroppable="t_todos">
        <div class="col-sm-6 col-md-3 col-xl-3 col-lg-3">
            <div class="card " style="background-color:#fff1f3">
                <div class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2">To Do</h6>
                    <div class="items border border-light">
                        <div *ngFor="let todo of t_todos;">
                            <div class="card draggable shadow-sm" id="cd1" draggable="true" ondragstart="drag(event)">
                                <div class="card-body p-2">
                                    <div class="card-title">
                                        <!-- <img src="//placehold.it/30" class="rounded-circle float-right"> -->
                                        <span class="badge float-right badge-primary"> {{todo.issue_status}} </span>
                                        <a href="" class="lead font-weight-light">{{todo.task_no}}</a>
                                    </div>
                                    <p>
                                        {{todo.summary}}
                                    </p>
                                    <!-- <button class="btn btn-primary btn-sm">View</button> -->
                                </div>
                            </div>
                            <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-3 col-xl-3 col-lg-3">
            <div class="card bg-light">
                <div class="card-body" >
                    <h6 class="card-title text-uppercase text-truncate py-2">Doing</h6>
                    <div class="items border border-light">
                        <div *ngFor="let doing of t_doings;">
                            <div class="card draggable shadow-sm" id="cd1" draggable="true" ondragstart="drag(event)">
                                <div class="card-body p-2">
                                    <div class="card-title">
                                        <!-- <img src="//placehold.it/30" class="rounded-circle float-right"> -->
                                        <span class="badge float-right badge-primary"> {{doing.issue_status}} </span>
                                        <a href="" class="lead font-weight-light">{{doing.task_no}}</a>
                                    </div>
                                    <p>
                                        {{doing.summary}}
                                    </p>
                                    <!-- <button class="btn btn-primary btn-sm">View</button> -->
                                </div>
                            </div>
                            <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 col-xl-3 col-lg-3">
            <div class="card " style="background-color: #e8f4f8;">
                <div class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2">Review</h6>
                    <div class="items border border-light">
                        <div *ngFor="let review of t_reviews;">
                            <div class="card draggable shadow-sm" id="cd1" draggable="true" ondragstart="drag(event)">
                                <div class="card-body p-2">
                                    <div class="card-title">
                                        <!-- <img src="//placehold.it/30" class="rounded-circle float-right"> -->
                                        <span class="badge float-right badge-primary"> {{review.issue_status}} </span>
                                        <a href="" class="lead font-weight-light">{{review.task_no}}</a>
                                    </div>
                                    <p>
                                        {{review.summary}}
                                    </p>
                                    <!-- <button class="btn btn-primary btn-sm">View</button> -->
                                </div>
                            </div>
                            <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-3 col-xl-3 col-lg-3">
            <div class="card " style="background-color:mintcream;">
                <div class="card-body">
                    <h6 class="card-title text-uppercase text-truncate py-2">Done</h6>
                    <div class="items border border-light">
                        <div *ngFor="let done of t_dones;">
                            <div class="card draggable shadow-sm" id="cd1" draggable="true" ondragstart="drag(event)">
                                <div class="card-body p-2">
                                    <div class="card-title">
                                        <!-- <img src="//placehold.it/30" class="rounded-circle float-right"> -->
                                        <span class="badge float-right badge-primary"> {{done.issue_status}} </span>
                                        <a href="" class="lead font-weight-light">{{done.task_no}}</a>
                                    </div>
                                    <p>
                                        {{done.summary}}
                                    </p>
                                    <!-- <button class="btn btn-primary btn-sm">View</button> -->
                                </div>
                            </div>
                            <div class="dropzone rounded" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="clearDrop(event)"> &nbsp; </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<!-- <div class="p-grid " >
    <div class="p-col-fixed  drag-column" style="width:200px;border-radius: 8px ;margin-right:5px;background-color:lavender;padding: 0 4px 0 4px;" pDroppable="cars" >
        <h6 class="swimlane-heading">Sprint backlog</h6>
        <ul style="margin:10px 0 0 0;padding:0">
            <div *ngFor="let car of availableCars" class="ui-helper-clearfix" pDraggable="cars"
                (onDragStart)="dragStart($event,car)" (onDragEnd)="dragEnd($event)">
                <p-card [style]="{margin: '4px 8px 4px 8px'}">
                    <div ><h5>{{car.vin}}</h5> {{car.year}}</div>
                </p-card>
            </div>
        </ul>
    </div>
    <div class="p-col-2  drop-column drag-column" pDroppable="cars"  
        (onDrop)="drop($event)" [ngClass]="{'ui-highlight-car':draggedCar}" style="border-radius: 8px ;margin-right:5px;padding: 0 4px 0 4px;background-color:#fff6e9;">
        <h6 class="swimlane-heading">To Be Done</h6>
        <p-table [value]="selectedCars">
            <ng-template pTemplate="header">
 
            </ng-template>
            <ng-template pTemplate="body" let-car pDraggable="cars">
 
                <p-card [style]="{margin: '4px 8px 4px 8px'}">
                    <div  ><h5>{{car.vin}}</h5> {{car.year}}</div>
                </p-card>
            </ng-template>
        </p-table>
    </div>
    <div class="p-col-2  drop-column drag-column" pDroppable="cars" 
    (onDrop)="drop($event)" [ngClass]="{'ui-highlight-car':draggedCar}" style="border-radius: 8px ;margin-right:5px;padding: 0 4px 0 4px;background-color:#ffefd7;">
    <h6 class="swimlane-heading">Dev</h6>
    <p-table [value]="selectedCars">
        <ng-template pTemplate="header" >

        </ng-template>
        <ng-template pTemplate="body" let-car >
 
            <p-card [style]="{margin: '4px 8px 4px 8px'}">
                <div ><h5>{{car.vin}}</h5> {{car.year}}</div>
            </p-card>
        </ng-template>
    </p-table>
    </div>
    <div class="p-col-2  drop-column drag-column" pDroppable="cars" 
    (onDrop)="drop($event)" [ngClass]="{'ui-highlight-car':draggedCar}" style="border-radius: 8px ;margin-right:5px;padding: 0 4px 0 4px;background-color:#e3f0ff;">
    <h6 class="swimlane-heading">Review</h6>
    <p-table [value]="selectedCars">

        <ng-template pTemplate="body" let-car  pDroppable="cars" >

            <p-card [style]="{margin: '4px 8px 4px 8px'}">
                <div ><h5>{{car.vin}}</h5> {{car.year}}</div>
            </p-card>
        </ng-template>
    </p-table>
    </div>
    <div class="p-col-2  drop-column drag-column" pDroppable="cars" 
    (onDrop)="drop($event)" [ngClass]="{'ui-highlight-car':draggedCar}" style="border-radius: 8px ;margin-right:5px;padding: 0 4px 0 4px;background-color:#d2e7ff ;">
    <h6 class="swimlane-heading">Done</h6>
    <p-table [value]="selectedCars">

        <ng-template pTemplate="body" let-car  pDroppable="cars" >

            <p-card [style]="{margin: '4px 8px 4px 8px'}">
                <div ><h5>{{car.vin}}</h5> {{car.year}}</div>
            </p-card>
        </ng-template>
    </p-table>
    </div>
    <div class="p-col-2  drop-column drag-column" pDroppable="cars" 
    (onDrop)="drop($event)" [ngClass]="{'ui-highlight-car':draggedCar}" style="border-radius: 8px ;margin-right:5px;padding: 0 4px 0 4px;background-color:#84c1ff ;">
    <h6 class="swimlane-heading">Released</h6>
    <p-table [value]="selectedCars">

        <ng-template pTemplate="body" let-car  pDroppable="cars" >

            <p-card [style]="{margin: '4px 8px 4px 8px'}">
                <div ><h5>{{car.vin}}</h5> {{car.year}}</div>
            </p-card>
        </ng-template>
    </p-table>
    </div>
</div> -->