<div class="row">
  <div class="col-lg-5">
    <span style="font-size:1.5rem;font-weight:500;padding-right:0.438rem;">{{sprint_name}}</span>
  </div>
  <div class="col-lg-1 offset-lg-5">
    <button type="button" class="btn btn-light">Cancel</button>
  </div>
  <div class="col-lg-1">
    <button type="button" class="btn btn-primary" (click)="saveSprint()">
      Submit
    </button>
  </div>
</div>
<!-- <div class="small  text-dark">Drag and drop between swim lanes</div> -->
<div class="pt-1" *ngIf="showBoard">
  <div class="row py-2" >
    <ng-container *ngFor="let step of tBoardStepsName">
      <div class="col-lg-2">
          <div class="card c-card dropzone rounded c-main-header"  (drop)="drop($event)" (dragenter)="allowDrop($event)" (dragover)="allowDrop($event)"
            (dragleave)="clearDrop($event)" id="header_{{ step.stepName }}#">
            &nbsp;

            <div class="card-body dropzone c-card-body" id="body_{{ step.stepName }}#"
              (drop)="drop($event)" (dragenter)="allowDrop($event)" (dragover)="allowDrop($event)"
              (dragleave)="clearDrop($event)" >
              <div class="card-title dropzone c-card-header" 
                id="title_{{ step.stepName }}#"
                (drop)="drop($event)" (dragenter)="allowDrop($event)" (dragover)="allowDrop($event)"
                (dragleave)="clearDrop($event)" 
                (click)="setNewStepName(step.stepName)"
                >
                {{ step.stepName.substring(step.stepName.indexOf("$") + 1) }}
                <span class="task-count">{{getTaskCountForStep(step.stepName)}}</span>
              </div>
              <ng-container *ngFor="let tasks of tSprintTasks">
                <ng-container *ngFor="let task of tasks[step.stepName]">
                  <div class="card  draggable dropzone shadow-sm" id="carditem_{{ step.stepName }}#{{ task.task_no }}"
                    draggable="true" (dragstart)="dragStart($event)" (dragend)="dragEnd($event)"
                    (drop)="drop($event)" 
                    >
                    <div class="card-body dropzone" id="item_{{ step.stepName }}#{{ task.task_no }}" draggable="true"
                      (dragstart)="dragStart($event)" (dragend)="dragEnd($event)">
                      <div class="row">
                          <div class="col-lg-3" >
                            <progress style="width:5rem;" value="{{task.task_completed_pct}}" max="100"></progress>
                          </div>
                          <div class="col-lg-6 offset-lg-3">
                            <span class="badge  mb-1 mt-1 float-right c-card-due-date" *ngIf="task.end_date">
                              {{task.end_date | date :'dd MMM'}}
                            </span>
                          </div>
                      </div>
                      <div class="row c-card-row" >
                        <div class="col-lg-7">
                          <p class="font-weight-light" style="font-size: 0.813rem;">
                            {{ task.task_no }}
                          </p>
                        </div>
                        <div class="col-lg-5">
                          <span class="badge float-right badge-light c-card-issue-status" >
                            {{ task.issue_status }}
                          </span>
                        </div>
                      </div>
                      <hr style="margin: 0.063rem 0 0.063rem 0;" />
                      <div class="row mt-1">
                        <div class="col-lg-12">
                          <div class="c-summary" >
                            {{ task.summary }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
      </div>
    </ng-container>
  </div>
</div>

<app-modal-confirm
  [title]="modalAlertConfig.title"
  [modalType]="modalAlertConfig.modalType" 
  [showModal]="modalAlertConfig.showModal" 
  [modalContent]="modalAlertConfig.modalContent"
  [cancelButtonLabel]="modalAlertConfig.cancelButtonLabel"
  [confirmButtonLabel]="modalAlertConfig.confirmButtonLabel"
  (dialogCanceled)="modalAlertAction(modalAlertConfig.dialogCanceled)"
  (dialogConfirmed)="modalAlertAction(modalAlertConfig.dialogConfirmed)"
  (dialogClosed)="modalAlertAction(modalAlertConfig.dialogClosed)"
>
</app-modal-confirm>