
.card.draggable {
    margin-bottom: 1rem;
    cursor: grab;
}

.droppable:hover {
    background-color: #E8EAF6;

}


.card:hover {
    background-color: #E8EAF6;

}

.task-count{
    padding-left:0.313rem;
    font-size:0.813rem;
    font-weight:550;
    color:grey;
}
.c-issue-status{
    font-size: 0.625rem;
    font-weight: 500;
    padding-bottom:0.188rem;
    background-color: #E3F2FD;
}



