.bottom-detail-right-border{
    border-right-style: solid; 
    border-right-color: #E6E6E6; 
    border-right-width: 1px;
}
.summary-text{
    padding-left: 15px;
    color: #628cB5;
}
.item-no-text{
    color: #313437;
}
.item-details-text{
    color: #ABACAE;
}
.item-details-labels{
    color: #ABACAE;
    font-size:12px;
    padding:0 10px 0 0;
}