<p>assign-workflow works!</p>
<div class="row">
    <div class="col-lg-2">
        <select class="form-control " name="projectName" id=""
        
        >
          <option value="-1" selected>Choose Project name</option>
          <option value="">P1</option>
          <option value="">p2</option>
          <option value="">p3</option>
          <!-- <option *ngFor="let proj of allProjects" value="{{proj.project_id}}">{{proj.project_name}}</option> -->
        </select>
    </div>
    <div class="col-lg-2">
        <select class="form-control " name="projectName" id=""
        
        >
          <option value="-1" selected>Choose Project name</option>
          <option value="">P1</option>
          <option value="">p2</option>
          <option value="">p3</option>
          <!-- <option *ngFor="let proj of allProjects" value="{{proj.project_id}}">{{proj.project_name}}</option> -->
        </select>
    </div>
    <div class="col-lg-2">
        <select class="form-control " name="projectName" id=""
        
        >
          <option value="-1" selected>Choose Project name</option>
          <option value="">P1</option>
          <option value="">p2</option>
          <option value="">p3</option>
          <!-- <option *ngFor="let proj of allProjects" value="{{proj.project_id}}">{{proj.project_name}}</option> -->
        </select>
    </div>
</div>