<div class="container-fluid">
  <h5>Create Workflow</h5>
  <hr />
  <form #form="ngForm" (ngSubmit)="submitForm(form)" *ngIf="showForm">
    <div class="row">
      <div class="col-lg-3">
        <div class="input-group">
          <select
            class="form-control"
            name="projectName"
            id=""
            [(ngModel)]="fprojectId"
            (change)="setProjectName($event)"
            style="border-radius: 3px;"
          >
            <option value="-1" selected>Choose Project name</option>
            <option
              *ngFor="let proj of allProjects"
              value="{{ proj.project_id }}"
              >{{ proj.project_name }}</option
            >
          </select>
          <span class="required-field"></span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="input-group">
          <select
            class="form-control browser-default"
            name="workflowType"
            id=""
            [(ngModel)]="fWorkflowType"
            disabled="{{ !enableWorkflowTypeDropDown }}"
            (change)="setWorkFlowType($event)"
            style="border-radius: 3px;"
          >
            <option value="-1" selected>Choose WorkFlow Type</option>
            <option value="TASKS">Tasks</option>
            <option value="TICKETS">Tickets</option>
          </select>
          <span class="required-field"></span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group input-group">
          <input
            type="text"
            class="form-control form-control-plain"
            name="workflowName"
            id=""
            placeholder="Workflow Name"
            [(ngModel)]="fworkflowName"
            style="border-radius: 3px;"
            required
          />
          <span class="required-field"></span>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Create Workflow</button>
        </div>
      </div>
    </div>

  <div class="row" style="margin-left: 0px;" *ngIf="projStatuses.length>0">
    <div
      class="col"
      style="
        border-width: 1px;
        border-style: dashed;
        border-radius: 3px;
        background-color: oldlace;
        padding:2px 0 4px 8px;
      "
    >
      <fa-icon
        [icon]="faInfoCircle"
        style="padding: 0 10px 5px 0; color: #33a7ff;"
      ></fa-icon>
      <span class="text-muted-sm" style="font-size: smaller;">
        Based on the current status, choose the next status(es) allowed. E.g. if
        current status is "Open", next allowed statuses could be
        "Analysis,Testing etc.."
      </span>
    </div>
  </div>

    <div class="row" style="margin-left: 0px; margin-top: 20px;" *ngIf="projStatuses.length>0">
      <div class="col">
        <table class="table table-sm table-bordered ">
          <thead>
            <tr class="row">
              <td scope="col" class="col-lg-1">
                <div style="font-size:x-small;">
                  Next Statuses
                  <fa-icon
                    [icon]="faArrowRight"
                    style="padding-left: 2px;"
                  ></fa-icon>
                </div>
                <div style="font-size: x-small; margin: 10px 0 0 0;">
                  Current status
                  <fa-icon [icon]="faArrowDown"></fa-icon>
                </div>
              </td>

              <th
                scope="col"
                class="col"
                *ngFor="let colHdr of projStatuses"
                style="font-size:smaller" 
              >
                {{ colHdr }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of statusGrid; let rowidx = index" class="row">
              <th scope="row" class="col-lg-1" style="font-size:smaller">{{ row.status }}</th>
              <td
                *ngFor="let col of row.nextStatuses; let colidx = index"
                class="col"
              >
                <div class="custom-control custom-checkbox text-md-center">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="inp_r{{ rowidx }}_c{{ colidx }}"
                    [(ngModel)]="
                      statusGrid[rowidx].nextStatuses[colidx].allowed
                    "
                    name="name_{{ rowidx }}{{ colidx }}"
                    disabled="{{
                      row.status == statusGrid[rowidx].nextStatuses[colidx].name
                    }}"
                  />
                  <label
                    class="custom-control-label"
                    for="inp_r{{ rowidx }}_c{{ colidx }}"
                  ></label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr />
  </form>

</div>
