<div
  #jirigoModalConfirm
  class="modal"
  [ngClass]="{ showModal: _showModal, hideModal: !_showModal }"
  role="dialog"
>
<div class="modal-dialog shadow" >
    <div class="modal-content ">
      <div #jirigoModalHeader class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="close" (click)="closeModal('cross')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> {{ modalContent }}</p>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-light"
          *ngIf="cancelButtonLabel != '' "
          (click)="closeModal('cancel')"
        >
          {{ cancelButtonLabel }}
        </button>
        <button
          type="submit"
          class="btn btn-secondary"
          (click)="closeModal('confirm')"
        >
          {{ confirmButtonLabel }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="blurModalBackGround" *ngIf="_showModal">
</div>