<div
  class="fluid-container col-sm-4 col-md-4 col-lg-4 offset-md-4 jcOneRowColumnLoginBox shadow"
>
  <div style="padding: 30px 30px 30px 30px;">
    <div class="row jcOneRowColumnLoginBoxheader" >
      <img src="./assets/images/JirigoLogo.png" class="jirigoLogo" alt="" srcset="" height="90" width="100">
      <!-- <h2>Login</h2> -->
    </div>
    <form [formGroup]="loginFB" (ngSubmit)="onSubmit()">
      <div class="form-group row" style="padding:20px 0 0 0;">
        <label for="username">Username</label>
        <input
          autofocus
          type="text"
          formControlName="email"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && lf.username.errors }"
        />
        <div *ngIf="submitted && lf.username.errors" class="invalid-feedback">
          <div *ngIf="lf.username.errors.required">Email is required</div>
        </div>
      </div>
      <div class="form-group row" style="padding:0px 0 20px 0;">
        <label for="password">Password</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && lf.password.errors }"
        />
        <div *ngIf="submitted && lf.password.errors" class="invalid-feedback">
          <div *ngIf="lf.password.errors.required">Password is required</div>
        </div>
      </div>

      <div class="row">
          <button [disabled]="loading" class="btn btn-primary btn-block" >
            Log In
          </button>
      </div>

      <div class="row mt-3 ml-5">
          <label style="color: darkgray;"> Don't have an account yet ?</label>
          <a routerLink="/register" style="font-size:16px;padding-left:5px;color: #0064d3;">Register</a>
      </div>

      <div class="form-group row" *ngIf="loginFormInvalid" style="margin-top: 20px;">
        <div class="col-lg-12 offset-lg-3">
        <div *ngFor="let error of errorsList">
          <span class="error" style="font-size: 15px; font-weight: 500;">{{ error }}</span>
        </div>
      </div>
      </div>

    </form>
  </div>
</div>
