.task {
    border-radius: 1px;
    background-color: #CEEDC0 ; 
    padding:10px 0 20px 0;
}
.task-allocated{
    background-color:#ffffdd;
}
.task-badge{
    margin:0 10px 0 0;
    font-size: 12px;
    font-weight: 500;
    padding: 6px 8px 6px 8px; 
    border-radius: 20px;
}