<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 text-center">
      <button type="submit" (click)="saveSprintTasks();" class="btn btn-success">Save Sprint</button>
      <button type="submit" (click)="backToSprintList();" class="btn btn-warning" style="margin:0 0 0 20px; padding: 6px 40px 6px 40px;">Back</button>
      <!-- <a [routerLink]="['/sprints/list-sprints']" class="btn btn-dark" style="margin:0 0 0 20px; padding: 6px 40px 6px 40px;">Cancel</a> -->
  </div>
  </div>
  <br>
<div class="row">
  <div class="col">
    <p-pickList
      [source]="sourceSprintTasks"
      [target]="targetSprintTasks"
      sourceHeader="Tasks Available"
      targetHeader="{{header_sprint_name}} Tasks"
      [responsive]="true"
      filterBy="brand"
      dragdrop="true"
      sourceFilterPlaceholder="Search"
      targetFilterPlaceholder="Search"
      [sourceStyle]="{ height: '480px','background-color':'#F1F8E9'  }"
      [targetStyle]="{ 'height': '480px','background-color':'#FFF8E1' }"
      dragdrop="true"
    >
    <ng-template let-task pTemplate="item" >
      <!-- background-color: #DEF3FD -->
      <div class="ui-helper-clearfix task "  >
          <span class="badge badge-info float-right task-badge"  >Status : {{task.issue_status}}</span>
        <div
          style="
            font-size: 14px;
            float: left;
            margin:0 0 0 10px;
          "
        >
        <strong >Task No  : </strong>{{ task.task_no }} <br>
        <strong >Summary  : </strong>{{ task.summary }} <br>
        <strong >Severity : </strong>{{ task.severity}}    
        <strong style="margin:0 0 0 30px;">Priority :</strong>{{ task.priority}}
        </div>
      </div>
    </ng-template>
    </p-pickList>
    <div style="margin-bottom: 20px;"></div>

  </div>
</div>

<p-dialog
  [(visible)]="displayDialogForNoTasksSelected"
  [modal]="true"
  [style]="{ width: '28vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  onHide="sprintNameModalOnHide()"
>
  <p-header>
    No Tasks Selected
  </p-header>
  Please select some tasks to create Sprint.
  <p-footer>
    <!-- <button type="button" pButton icon="pi pi-times" (click)="closeNoTasksSelectedDialog()" label="Close" class="ui-button-warning"></button> -->
  </p-footer>
</p-dialog>
