    <p-pickList
      [source]="sourceSprintTasks"
      [target]="targetSprintTasks"
      sourceHeader="Tasks Available"
      targetHeader="{{header_sprint_name}} Tasks"
      [responsive]="true"
      filterBy="brand"
      dragdrop="true"
      sourceFilterPlaceholder="Search"
      targetFilterPlaceholder="Search"
      [sourceStyle]="{ 'height': '30rem','background-color':'#f4f4f4'}"
      [targetStyle]="{ 'height': '30rem','background-color':'#f4f4f4'}"
      dragdrop="true"
    >
    <ng-template let-task pTemplate="item" >
      <!-- background-color: #DEF3FD -->
      <div class="ui-helper-clearfix task menu-item-assigned"  >
        <!-- <button type="button" class="btn btn-light btn-sm">{{task.task_no}}</button> -->
        <div class="btn btn-light btn-sm mt-0 pt-0">
          <a  [routerLink]="['/tasks/view-edit-tasks']" [queryParams]="{'task_no':task.task_no}" class="a-item" >{{task.task_no}}</a>
        </div>
          <span class="badge badge-info float-right task-badge "  >Severity : {{task.severity}}</span>
          <span class="badge badge-info float-right task-badge "  >Priority : {{task.priority}}</span>
          <span class="badge badge-info float-right task-badge "  >Status : {{task.issue_status}}</span>
        <div
          class="jsprint-summary"
        >
        <!-- <strong >Task No  : </strong>{{ task.task_no }} <br> -->
        {{ task.summary }} <br>
        <!-- <strong >Severity : </strong>{{ task.severity}}     -->
        <!-- <strong style="margin:0 0 0 1.875rem;">Priority :</strong>{{ task.priority}} -->
        </div>
      </div>
    </ng-template>
    </p-pickList>

<div class="row mt-4">
  <div class="col-lg-12 col-md-12 col-sm-12 text-center">
      <button type="submit" (click)="saveSprintTasks();" class="btn btn-primary">Save Sprint</button>
      <button type="submit" (click)="backToSprintList();" class="btn btn-light" style="margin:0 0 0 1.25rem; padding: 0.375rem 2.5rem 0.375rem 2.5rem;">Back</button>
      <!-- <a [routerLink]="['/sprints/list-sprints']" class="btn btn-dark" style="margin:0 0 0 1.25rem; padding: 0.375rem 2.5rem 0.375rem 2.5rem;">Cancel</a> -->
  </div>
</div>
<p-dialog
  [(visible)]="displayDialogForNoTasksSelected"
  [modal]="true"
  [style]="{ width: '28vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  onHide="sprintNameModalOnHide()"
>
  <p-header>
    No Tasks Selected
  </p-header>
  Please select some tasks to create Sprint.
  <p-footer>
    <!-- <button type="button" pButton icon="pi pi-times" (click)="closeNoTasksSelectedDialog()" label="Close" class="ui-button-warning"></button> -->
  </p-footer>
</p-dialog>

<app-modal-confirm
  [title]="modalAlertConfig.title"
  [modalType]="modalAlertConfig.modalType" 
  [showModal]="modalAlertConfig.showModal" 
  [modalContent]="modalAlertConfig.modalContent"
  [cancelButtonLabel]="modalAlertConfig.cancelButtonLabel"
  [confirmButtonLabel]="modalAlertConfig.confirmButtonLabel"
  (dialogCanceled)="modalAlertAction(modalAlertConfig.dialogCanceled)"
  (dialogConfirmed)="modalAlertAction(modalAlertConfig.dialogConfirmed)"
  (dialogClosed)="modalAlertAction(modalAlertConfig.dialogClosed)"
>
</app-modal-confirm>