<ngx-spinner
  [fullScreen]="true"
  type="ball-climbing-dot"
  size="medium"
></ngx-spinner>
<form [formGroup]="parentForm">
  <div class="card">
    <div
      class="card-header container-fluid"
      data-toggle="collapse"
      data-target="#idComments"
    >
      Comment
      <button
        class="oi oi-chevron-bottom float-right"
        data-toggle="collapse"
        data-target="#idComments"
      ></button>
    </div>
    <div id="idComments" class="collapse">
      <div class="card-body">
        <div class="form-group">
          <div class="row">
            <div class="col">
              <quill-editor
                formControlName="fctlComment"
                [styles]="editorStyle"
                [modules]="config"
                [minLength]="5"
              ></quill-editor>
              <br />
              <button
                pButton
                type="button"
                label="Save Comment"
                class="ui-button-success float-right"
                (click)="saveComment()"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<br />

<div class="card">
  <div
    class="card-header container-fluid"
    data-toggle="collapse"
    data-target="#idListCommentsForTicket"
  >
    Comment History
    <button
      class="oi oi-chevron-bottom float-right"
      data-toggle="collapse"
      data-target="#idListCommentsForTicket"
    ></button>
  </div>
  <div
    id="idListCommentsForTicket"
    class="card container-fluid collapse"
    *ngFor="let comment of allComments"
  >
    <div class="row">
      <div class="card-body container-fluid">
        <b>{{ comment.created_by }}</b> commented on -
        {{ comment.created_date }}
      </div>
      <div class="ql-container ql-snow" style="border-width: 0;">
        <div class="ql-editor" [innerHTML]="comment.comment"></div>
      </div>
    </div>
    <br />
  </div>
</div>
