.comment-edit-button{
    margin-top: 3px;
    margin-right: 3px;
    cursor: pointer;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before {
    content: 'Normal';
    font-size: 14px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
    content: 'Large';
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before {
    content: 'Huge';
    font-size: 18px !important;
}

.comment-item-col{
    background-color: white; 
    padding-right: 0px; 
    padding-left: 0px;
    border-width: 1px;
    border-color: #E8E8E8;
}
.comment-header{
    background-color: #DDDDDD;
    color:#666666;
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 15px;
}
.comment-header >span.comment-author{
    color:black;
    font-size: 16px;
    font-weight: 550;
}