.comment-edit-button{
    margin-top: 0.188rem;
    margin-right: 0.188rem;
    cursor: pointer;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="0.875rem"]::before {
    content: 'Normal';
    font-size: 0.875rem !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="1rem"]::before {
    content: 'Large';
    font-size: 1rem !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="1.125rem"]::before {
    content: 'Huge';
    font-size: 1.125rem !important;
}

.comment-item-col{
    background-color: white; 
    padding-right: 0rem; 
    padding-left: 0rem;
    border-width: 0.063rem;
    border-color: #E8E8E8;
}
.comment-header{
    background-color: #DDDDDD;
    color:#666666;
    padding-top:0.313rem;
    padding-bottom:0.313rem;
    padding-left: 0.938rem;
}
.comment-header >span.comment-author{
    color:black;
    font-size: 1rem;
    font-weight: 550;
}